{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  {%include 'Layout/ValidacionRol.html' %}   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseño.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'rel='stylesheet'>
    <title>Cambiar Contraseña</title>
</head>
<body>
  {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
            <div class="container-fluid">
              <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Cambiar Contraseña</a>
            </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav>
<div class="container">
    <br>
    <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
      <br><br>
      {%for p in datos%}
      <h1>Esta apunto de cambiar la contraseña del usuario {{p.1}} {{p.2}} con cedula {{p.0}}</h1>
      {%endfor%}
      <br>
      <form class="row g-3 needs-validation" novalidate method='POST'>
            {% csrf_token %}
            <div class="col-6">
                <i class="fa fa-unlock-alt fa-lg " aria-hidden="true"></i>
                <label class="form-label">Contraseña</label>
                <input type='password' class="form-control" id="contrasena" name='contrasena' required >
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite la contraseña</h6></div>
            </div>
            <div class="col-6">
                <i class="fa fa-unlock fa-lg" aria-hidden="true"></i>
                <label class="form-label">Confirmar Contraseña</label>
                <input type='password' class="form-control" id="confirmar_contrasena" name='confirmar_contrasena' required >
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite otra vez la contraseña</h6></div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type='submit' values='Subir' class="btn btn-primary" type="button">
                <a href="/Usuario/lista" type="button" class="btn btn-outline-danger">Cancelar</a><br>
            </div>
              {%if email%}<div class="alert alert-danger with-close alert-dismissible fade show">La Contraseña es parecida al Correo del usuario</div>{%endif%}
              {%if cedula%}<div class="alert alert-danger with-close alert-dismissible fade show">La Contraseña es igual al numero de la cedula.Por favor pon una diferente</div>{%endif%}
              {%if corta%}<div class="alert alert-danger with-close alert-dismissible fade show">La Contraseña es muy corta, debe tener minimo 8 caracteres</div>{%endif%}
              {%if numero%}<div class="alert alert-danger with-close alert-dismissible fade show">La Contraseña debe tener letras, no solo numeros</div>{%endif%}
              {%if coinciden%}<div class="alert alert-danger with-close alert-dismissible fade show">Las Contraseñas no Coninsiden</div>{%endif%}
              {%if nombre%}<div class="alert alert-danger with-close alert-dismissible fade show">La Contraseña es parecida al Nombre del Usuario</div>{%endif%}
              {%if apellido%}<div class="alert alert-danger with-close alert-dismissible fade show">La Contraseña es parecida al Apellido del Usuario</div>{%endif%}
        </form>
      </div>
    </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>(() => {
        'use strict';
      
        const forms = document.querySelectorAll('.needs-validation');
        Array.from(forms).forEach(form => {
          form.addEventListener('submit', event => {
            const contraseña = form.querySelector('#contrasena').value;
            const confirmarContraseña = form.querySelector('#confirmar_contrasena').value;
      
            const mensajeErrorElement = form.querySelector('.mensaje-error');
            if (contraseña !== confirmarContraseña) {
              // Las contraseñas no coinciden
              if (!mensajeErrorElement) {
                // Si el elemento no existe, créalo
                const mensajeError = document.createElement('h6');
                mensajeError.classList.add('mensaje-error');
                mensajeError.style.color = 'red';  // Agrega estilo color rojo
                mensajeError.textContent = 'Las contraseñas no coinciden';
      
                // Inserta el mensaje justo después del campo de confirmar_contrasena
                const campoConfirmarContraseña = form.querySelector('#confirmar_contrasena');
                campoConfirmarContraseña.parentNode.insertBefore(mensajeError, campoConfirmarContraseña.nextSibling);
              }
      
              event.preventDefault();
              event.stopPropagation();
            } else {
              // Las contraseñas coinciden
              if (mensajeErrorElement) {
                // Si el elemento existe, quítalo
                mensajeErrorElement.parentNode.removeChild(mensajeErrorElement);
              }
      
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
            }
      
            form.classList.add('was-validated');
          }, false);
        });
      })();
      
      </script>
      
</body>
</html>