{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  {%include 'Layout/ValidacionRol.html' %}   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseño.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'rel='stylesheet'>
    <title>Registra Usuario</title>
</head>
<body>
  {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
            <div class="container-fluid">
              <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Insertar Usuario</a>
            </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav>
<div class="container">
    <br>
    {%if repetido%}
<div class="container">
    <br>
    <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
      <br><br>
      <form class="row g-3 needs-validation" novalidate method='POST'>
            {% csrf_token %}
           
            <div class="col-3">
                <i class="fa fa-cc" aria-hidden="true"></i>
                <label class="form-label">No De Cédula*</label>
                <input type="number" class="form-control" name='cedula' required value="{{p.cedula}}">
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Número De Cédula</h6></div>
            </div>
            <div class="col-3">
                <i class="fa fa-id-card-o" aria-hidden="true"></i>
                <label class="form-label">Nombre</label>
                <input type='text' class="form-control" name='nombre' required value="{{p.5}}">
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Nombre </h6></div>
            </div>
            <div class="col-3">
                <i class="fa fa-id-card" aria-hidden="true"></i>
                <label class="form-label">Apellido</label>
                <input type='text' class="form-control" name='apellido' required value="{{p.6}}">
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Apellido</h6></div>
            </div>
            <div class="col-3">
                <i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
                <label class="form-label">Teléfono</label> 
                <input type="number" class="form-control" name="telefono" required value="{{p.13}}">
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Número De Teléfono</h6></div>
                </div>
            <div class="col-3">
                <i class="material-icons prefix">mail</i>
                 <label class="form-label">Correo Electrónico</label>
                <input type="text" class="form-control" name="correo" required value="{{p.7}}">
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Correo Eletrónico</h6></div>
                </div>
            <div class="col-6">
                <i class="material-icons prefix">home</i>
                <label class="form-label">Dirección</label> 
                <input type='text' class="form-control" name='direccion' required value="{{p.12}}">
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Dirección</h6></div>
                </div>
            <div class="col-3">
                <i class="material-icons prefix">insert_invitation</i>
                <label class="form-label">Fecha De Nacimiento</label>
                <input type='date' class="form-control" name='fecha_nacimiento' required value="{{p.11|date:'Y-m-d'}}" >
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Fecha De Nacimiento</h6></div>
            </div>

    {%else%}
    <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
      <br><br>
      <form class="row g-3 needs-validation" novalidate method='POST'>
            {% csrf_token %}
            <div class="col-4">
              <i class="fa fa-cc" aria-hidden="true"></i>
                <label class="form-label">No De Cédula*</label>
                <input type="number" class="form-control" name='cedula' required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Número De Cédula</h6></div>
            </div>
            <div class="col-4">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <label class="form-label">Nombre</label>
                <input type='text' class="form-control" name='nombre' required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Nombre </h6></div>
            </div>
            <div class="col-4">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <label class="form-label">Apellido</label>
                <input type='text' class="form-control" name='apellido' required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Apellido</h6></div>
            </div>
            <div class="col-6">
              <i class="fa fa-phone" aria-hidden="true"></i>
                <label class="form-label">Teléfono</label> 
                <input type="number" class="form-control" name="telefono" required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Número De Teléfono</h6></div>
                </div>
            <div class="col-6">
              <i class="fa fa-envelope" aria-hidden="true"></i>
                 <label class="form-label">Correo Electrónico</label>
                <input type="text" class="form-control" name="correo" required >
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Correo Eletrónico</h6></div>
                </div>
            <div class="col-4">
              <i class="fa fa-home" aria-hidden="true"></i>
                <label class="form-label">Dirección</label> 
                <input type='text' class="form-control" name='direccion' required >
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Dirección</h6></div>
                </div>
            <div class="col-4">
              <i class="fa fa-calendar" aria-hidden="true"></i>
                <label class="form-label">Fecha De Nacimiento</label>
                <input type='date' class="form-control" name='fecha_nacimiento' required >
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Fecha De Nacimiento</h6></div>
            </div>
            <div class="col-4">
              <i class="fa fa-users" aria-hidden="true"></i>
                <label class="form-label">Rol</label>
                <select name="Id_rol" class="form-control form-select" required>
                    <option value="2">Admin</option>
                    <option selected value="1">Regente</option>
                </select>
            </div>
            <div class="col-6">
              <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                <label class="form-label">Contraseña</label>
                <input type='password' class="form-control" id="contrasena" name='contrasena' required >
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite la contraseña</h6></div>
            </div>
            <div class="col-6">
              <i class="fa fa-unlock" aria-hidden="true"></i>
                <label class="form-label">Confirmar Contraseña</label>
                <input type='password' class="form-control" id="confirmar_contrasena" name='confirmar_contrasena' required >
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite otra vez la contraseña</h6></div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type='submit' values='Subir' class="btn btn-primary" type="button">
                <a href="/Usuario/lista" type="button" class="btn btn-outline-danger">Cancelar</a><br>
            </div>
        </form>
      </div>
      {%endif%}
    </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>(() => {
        'use strict';
      
        const forms = document.querySelectorAll('.needs-validation');
        Array.from(forms).forEach(form => {
          form.addEventListener('submit', event => {
            const contraseña = form.querySelector('#contrasena').value;
            const confirmarContraseña = form.querySelector('#confirmar_contrasena').value;
      
            const mensajeErrorElement = form.querySelector('.mensaje-error');
            if (contraseña !== confirmarContraseña) {
              // Las contraseñas no coinciden
              if (!mensajeErrorElement) {
                // Si el elemento no existe, créalo
                const mensajeError = document.createElement('h6');
                mensajeError.classList.add('mensaje-error');
                mensajeError.style.color = 'red';  // Agrega estilo color rojo
                mensajeError.textContent = 'Las contraseñas no coinciden';
      
                // Inserta el mensaje justo después del campo de confirmar_contrasena
                const campoConfirmarContraseña = form.querySelector('#confirmar_contrasena');
                campoConfirmarContraseña.parentNode.insertBefore(mensajeError, campoConfirmarContraseña.nextSibling);
              }
      
              event.preventDefault();
              event.stopPropagation();
            } else {
              // Las contraseñas coinciden
              if (mensajeErrorElement) {
                // Si el elemento existe, quítalo
                mensajeErrorElement.parentNode.removeChild(mensajeErrorElement);
              }
      
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
            }
      
            form.classList.add('was-validated');
          }, false);
        });
      })();
      
      </script>
      
</body>
</html>