{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseño.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'rel='stylesheet'>
    <title>Insertar Proveedores</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
            <div class="container-fluid">
              <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Insertar Usuario</a>
            </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav>
{%include 'Layout/Menu.html' %}
<div class="container">
    <br>
    <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
      <br><br>
      <form class="row g-3 needs-validation" novalidate method='POST'>
            {% csrf_token %}
            <div class="col-4">
                <i class="material-icons prefix">closed_caption</i>
                <label class="form-label">No De Cédula</label>
                <input type="number" class="form-control" name='cedula' required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Número De Cédula</h6></div>
            </div>
            <div class="col-4">
                <i class="material-icons prefix">assignment_ind</i>
                <label class="form-label">Nombre</label>
                <input type='text' class="form-control" name='nombre' required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Nombre </h6></div>
            </div>
            <div class="col-4">
                <i class="material-icons prefix">assignment_ind</i>
                <label class="form-label">Apellido</label>
                <input type='text' class="form-control" name='apellido' required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Apellido</h6></div>
            </div>
            <div class="col-6">
                <i class="material-icons prefix">contact_phone</i>
                <label class="form-label">Teléfono</label> 
                <input type="number" class="form-control" name="telefono" required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Número De Teléfono</h6></div>
                </div>
            <div class="col-6">
                <i class="material-icons prefix">mail</i>
                 <label class="form-label">Correo Electrónico</label>
                <input type="text" class="form-control" name="correo" required >
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Correo Eletrónico</h6></div>
                </div>
            <div class="col-4">
                <i class="material-icons prefix">home</i>
                <label class="form-label">Dirección</label> 
                <input type='text' class="form-control" name='direccion' required >
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Dirección</h6></div>
                </div>
            <div class="col-4">
                <i class="material-icons prefix">insert_invitation</i>
                <label class="form-label">Fecha De Nacimiento</label>
                <input type='date' class="form-control" name='fecha_nacimiento' required >
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Fehca De Nacimiento</h6></div>
            </div>
            <div class="col-4">
                <i class="material-icons prefix">people</i>
                <label class="form-label">Rol</label>
                <input type='number' class="form-control" name='Id_rol' required >
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Rol</h6></div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type='submit' values='Subir' class="btn btn-primary" type="button">
                <a href="/Usuario/lista" type="button" class="btn btn-outline-danger">Cancelar</a><br>
            </div>
        </form>
      </div>
    </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</body>
</html>