{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  {%include 'Layout/ValidacionRol.html' %}   
  {%include "Layout/head.html" %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
  <script src="{%static 'js/Estadisticas.js' %}"></script>
</head>
<body>
    {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
        <div class="container-fluid">
          <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Estadisticas</a>
        </div>
        <ul class="right hide-on-med-and-down">
        </ul>
      </nav><br>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" id="pagination">
          
        </ul>
      </nav>
      <br><br>
<div class="row">
    <div class="col-2" id="valorF">
        <div style="height: 100px; width: 100px; margin-left: 30px;">
            <input type="month" value="" id="fecha"><a href="#" onclick="VentaMes()"></a>
        </div>
    </div>   
    <div class="col-6">
        <div style="height: 500px; width: 1000px;">
            <canvas id="grafica1"></canvas>
        </div>
    </div>
</div>
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <script>
    Estadisticas("VM");
  </script>
</body>
</html>

