{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseñologin.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>
<body>
<nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Restablecimiento de contraseña</a>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center pt-5 mt-5 mr-1">
        <div class="col-md-4 formulario">
            <br>
            <h4>
                <p class="text-secondary-emphasis text-center">Cambia tu contraseña </p>
            </h4>
            <div class="col-12">
                <form class="row g-3 needs-validation" method="post">
                    {% csrf_token %}
                    <label class="text-secondary-emphasis text-center">
                        <h5 class="fw-normal" style=" font-weight: lighter;">¡Es tu primer inicio de session!.<br>Debes cambiar tu contraseña para mayor seguridad <br>:D
                        </h5>
                    </label>

                    <input type="password" class="form-control" placeholder="Nueva contraseña" name="new_password1"
                        autocomplete="new-password" required aria-describedby="id_new_password1_helptext"
                        id="id_new_password1">
                       
                    <input type="password" class="form-control" placeholder="Confirmar contraseña"
                        name="new_password2" autocomplete="new-password" required id="id_new_password2">
                            {%if email%}<div class="alert alert-danger with-close alert-dismissible fade show">La contraseña es parecida al correo del usuario</div>{%endif%}
                            {%if cedula%}<div class="alert alert-danger with-close alert-dismissible fade show">La contraseña es igual al número de la cédula.Por favor pon una diferente</div>{%endif%}
                            {%if corta%}<div class="alert alert-danger with-close alert-dismissible fade show">La contraseña es muy corta, debe tener mínimo 8 caracteres</div>{%endif%}
                            {%if numero%}<div class="alert alert-danger with-close alert-dismissible fade show">La contraseña debe tener letras, no solo números</div>{%endif%}
                            {%if coinciden%}<div class="alert alert-danger with-close alert-dismissible fade show">Las contraseñas no coninsiden</div>{%endif%}
                            {%if nombre%}<div class="alert alert-danger with-close alert-dismissible fade show">La contraseña es parecida al nombre del usuario</div>{%endif%}
                            {%if apellido%}<div class="alert alert-danger with-close alert-dismissible fade show">La contraseña es parecida al apellido del usuario</div>{%endif%}
                    
                       
                    <input type="submit" value="Cambiar la contraseña" class="btn btn-primary">
                    <a href="/accounts/login" type="button" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>