@media screen and (max-width:767px) {
}

@media screen and (min-width:767px) and (max-width:1023px) {
}

@media screen and (min-width:1024px){
}


body {
    background-image: url(../img/mosaic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.formulario{
    background: rgba(255, 248, 248, 0.753);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(14, 10, 245, 0.671);
    color: white;
}

.form-control{
    background: rgba(0,0,0,.3);
    /* border-style: none; */
    transition: 0.5s ease-in;
    outline: none;
    box-shadow: none;
}

.form-control:focus{
    background: none;
    box-shadow: none;
    outline: none;
}
.form-control::placeholder{
    color: rgb(31, 31, 31);

}

.ingresar{
    background: #222A3F;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 30px rgba(0,0,0,0.568);
    transition: 0.5 ease-in;
}

.ingresar:hover{
    color: rgb(16, 19, 202);
}


