{%load static%}
 
<div class="sidebar close">
  <div class="logo-details">
    <i><img src="{%static 'img/logo2.png'%}" alt="profileImg" height="70px" width="70"></i>
    <span class="logo_name" style='color:#080808'>Farmacia la honda</span>
  </div>
  <ul class="nav-links">
    <br><br>
    <li>
      <section>
        <a href="#" class="barra">
          <i class="fa fa-bars" aria-hidden="true"></i>
          <span class="link_name">Contraer</span>
        </a>
        <ul class="sub-menu blank">
          <li><e class="link_name" style="color: aliceblue;">Desplegar Menu</e></li>
        </ul>
    </li>
    <li>
      <a href="/">
        <i class="fa fa-home" aria-hidden="true"></i>
        <span class="link_name">Menú</span>
      </a>

      <ul class="sub-menu blank">
        <li><a class="link_name" href="/">Menú</a></li>
      </ul>
    </li>
    <li>
      <a href="/Pedidos/lista">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <span class="link_name">Listado Pedidos Especiales</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/Pedidos/lista">Listado Pedidos Especiales</a></li>
      </ul>
    </li>
    {%if group == "Admin"%}
    <li>
      <a href="/Producto/lista">
        <i class="fa fa-laptop" aria-hidden="true"></i>
        <span class="link_name">Listado Productos</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/Producto/lista">Listado Productos</a></li>
      </ul>
    </li>

    <li>
      <a href="/Proveedor/lista">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span class="link_name">Listado Proveedores</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/Proveedor/lista">Listado Proveedores</a></li>
      </ul>
    </li>
    <li>
      <a href="/Usuario/lista">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <span class="link_name">Lista Usuarios</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/Usuario/lista">Lista Usuarios</a></li>
      </ul>
    </li>
    <li>
      <a href="/Notificacion">
        <i class="fa fa-bell" aria-hidden="true"><!--<e style="color: red;">2</e>--></i>
        <span class="link_name">Notificacion</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/Notificacion">Notificacion</a></li>
      </ul>
    </li>
    <li>
      <a href="/Compra/Recibos/1">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <span class="link_name">Recibos de Compra</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/Compra/Recibos/1">Recibos de Compra</a></li>
      </ul>
      <li>
        <a href="../../Estadisticas">
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
          <span class="link_name">Estadisticas</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="../Estadisticas">Estadisticas</a></li>
        </ul>
    {%endif%}
    <li>
      <a href="/Venta/registrar">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span class="link_name">Ventas</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/Venta/registrar">Ventas</a></li>
      </ul>
  </li>
    <li>
      <a href=#>
        <i class="fa fa-arrow-circle-o-right fa-2x" aria-hidden="true" id="cerrar" onclick="cerrar()"></i>
        <span class="link_name" onclick="cerrar()" id="cerrar">Cerrar Sesión</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href=# onclick="cerrar()">Cerrar Sesión</a></li>
      </ul>
    </li>
    <div class="profile-details">
      <div class="profile-content">
        {%if group == "Admin"%}
        <img src="{%static 'img/Admin.png'%}" alt="profileImg">
        {%else%}
        <img src="{%static 'img/Regente.jpg'%}" alt="profileImg">
        {%endif%}
      </div>
      <div class="name-job">
        <div class="profile_name">{{user}}</div>
        <div class="profile_name">{{group}}</div>
      </div>
    </div>
    </li>
  </ul>
</div>
<section class="home-section">
  <div class="home-content">

  </div>
  <script src="{%static 'js/sweetalert2.js' %}"></script>
  <script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
      arrow[i].addEventListener("click", (e) => {
        let arrowParent = e.target.parentElement.parentElement;
        arrowParent.classList.toggle("showMenu");
      });
    }

    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".barra");
    sidebarBtn.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    });
    </script>
    {%if group == "Admin"%}
    <script>
      function cerrar(){
        dinero=parseInt("{{dinero}}");
        recomendacion=dinero-50000;
        Swal.fire({
            title: "¿Desea terminar la jornada?",
            text: "el total de la caja es: {{dinero}} Ingrese el dinero a retirar te recomendamos retirar "+recomendacion+" para que la base de la caja sea 50000",
            input: "number",
            inputValidator: (valor) => {
            if (!valor || valor>dinero) {
              return "¡Debes ingresar un valor valido!";
            }},
            showCancelButton: true,
            confirmButtonText: "Terminar",
            showLoaderOnConfirm: true,
            preConfirm: async (valor) => {
              final=dinero-valor;
              let url="../../retiro/API/"+valor+"/"+final;
              fetch(url)
              return final
          },
            allowOutsideClick: () => !Swal.isLoading()
          }).then((resultado) => {
            if (resultado.isConfirmed) {
              Swal.fire({
                title: 'Total en la caja',
                text: `${final}`,
                confirmButtonText: 'Terminar jornada',
                allowOutsideClick: false,
                allowEnterKey: true}).then((result) => {
          if (result.isConfirmed) {
            location.href="/salir";
          }})
            }
          });
      }
    </script>
    {%else%}
    <script>
    function cerrar() {
      Swal.fire({
        title: "¿Desea terminar la jornada?",
        text: "el total de la caja es: {{dinero}}",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: '<a class="link-offset-2 link-underline link-underline-opacity-0 link-light"href="/salir" > Aceptar</a> ',
        cancelButtonText: "No, cancelar",
        width:'30%',
      }).then((result) => {
          if (result.isConfirmed) {
            location.href="/salir"
          }})
    }
  </script>
  {%endif%}