<script>
        window.addEventListener('beforeunload', function (event) {
            // Mostrar un mensaje personalizado cuando el usuario intenta retroceder
            event.returnValue = '¿Estás seguro de que deseas salir?';
        });
        (() => {
    'use strict'
    const forms = document.querySelectorAll('.needs-validation')
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })();
</script>
