{% block content %}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  {%include "Layout/head.html" %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/diseñologin.css' %}">
  <title>Mensaje</title>
</head>

<body>
  <br><br><br>
  <div class="row justify-content-center pt-5 mt-5 mr-0">
    <div class="col-md-4 formulario">
      <br>
      <h4>
        <p class="text-secondary-emphasis text-center">Restablecimiento de contraseña completo</p>
      </h4>
      <form class="row g-3 needs-validation" method="post">
        <label class="text-secondary-emphasis text-center">
          <h5 class="fw-normal" style=" font-weight: lighter;">Su contraseña ha sido reestablecida. Puede continuar e iniciar sesión ahora.</h5>
        </label>
        <a href="/accounts/login" type="button" class="btn btn-primary">Volver a inicio de sesión</a>
    </div>
    </form>

</body>

</html>
{% endblock content%}