{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    {%include 'Layout/ValidacionRol.html' %}
    {%include "Layout/head.html" %}
    <title>Ventas info</title>
</head>

<body>
    {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Informacion de Venta</a>
        </div>
        <ul class="right hide-on-med-and-down">
        </ul>
    </nav>
    <br>
    <center><a href="../../Venta/registrar" class="btn btn-lg btn-success">Volver</a></center>
    <div class="container">
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        {%for v in dias%}
        <div class="card text-center mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{v.0}}</h5>
              <p class="card-text">Ventas Registradas: {{v.1}}.</p>
              <p class="card-text">Registros de Productos: {{v.2}}. <br> Total: {{v.3}}$. </p>
              <a href="../../Venta/Info/{{v.0|date:'Y-m-d'}}" class="btn btn-primary">Ver Ventas</a>
            </div>
          </div>
          {%endfor%}
          </div>
    </div>
</div>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </div>
</body>

</html>