<!-- {%load static%}
<!DOCTYPE html>
<html lang="en">-->

 <head>
    {%include 'Layout/ValidacionRol.html' %}
    {%include "Layout/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/colorbotones.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Ventas info</title>
</head> 

<body>
    {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Informacion de Venta</a>
        </div>
        <ul class="right hide-on-med-and-down">
        </ul>
    </nav>
    <br>
    <center><a href="../../Venta/Dias" class="btn btn-lg btn-primary estilo">Volver</a></center>
    <div class="container">
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3 gap-3">
        {%for i in info%}
          <div class="card" style="width: 26rem;" id="{{i.0}}">
            <div class="card-body">
              <h5 class="card-title">{{i.0}}</h5>
              <p class="card-text">Vendedor : {{i.7}} {{i.8}}. CC:{{i.6}} <br> Hora:{{i.3}}</p>
            </div>
            <div class="table-responsive" style="vertical-align: middle; height: 200px;">
                <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0" >
                  <thead>
                    <tr>
                      <th>Codigo</th>
                      <th>Nombre</th>
                      <th>Precio</th>
                      <th>Cantidad</th>
                      <th>Subtotal</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for v in infoV%}
                    {% if v.0 == i.0 %}
                    <tr>
                      <td>
                        <h6 class="mb-1">{{v.1}}</h6>
                      </td>
                      <td>
                        <h6 class="mb-1">{{v.2}}</h6>
                      </td>
                      <td>
                        <h6 class="mb-1">{{v.3}}</h6>
                      </td>
                      <td>
                        <h6 class="mb-1">{{v.4}}</h6>
                      </td>
                      <td>{{v.5}}</td>
                    </tr>
                    {%endif%}
                    {%endfor%}
                    </tbody>
                    </table>
                    </div>
            </ul>
            <div class="card-body">
                <p class="card-text">Efectivo Recibido: {{i.4}}. <br> Efectivo Entregado {{i.5}}$. </p><br>
                <!-- <a href="#" onclick="Imprimir('{{i.0}}')">Imprimir</a> -->
            </div>
          </div>
          {%endfor%}
          </div>
    </div>
</div>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    </div>
    <script>
      function Imprimir(id){
        var contenido =document.getElementById(id).innerHTML;
        var contenidoor = document.body.innerHTML;
        document.body.innerHTML=contenido;
        window.print();
        document.body.innerHTML=contenidoor;
      }
    </script>
</body>

</html>