{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  {%include "Layout/head.html" %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/colorbotones.css' %}">
    <title>Registro de Venta</title>
</head>
<body>
  {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
            <div class="container-fluid">
              <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Registro venta</a>
            </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav>
    <br>
    <form action="" id="productos" class=" needs-validation">
      <input type="hidden" id="Primer_registo" value="1">
      <input type="hidden" id="ID_Venta" value="0">
      <input type="hidden" id="cedula" value='{{user}}'>
      <div class="table-responsive" style="width:1250px; height:550px;">
    <table class="table table-fixed">
        <thead >
            <th>codigo</th>
            <th>nombre</th>
            <th>Miligramo/ML</th>
            <th>precio</th>
            <th>cantidad</th>
            <th>subtotal</th>
            <th>Cancelar</th>
        </thead>
        <tbody id="fila">
          <tr id="1">
            <td id="codigoPp1"><input type="number" class="form-control" id="codigoP1" required >
              <div class="invalid-feedback"><h6>Falta Codigo De Barras</h6></div></td>
              <input type="hidden" id="PosicionTabla1" value="1">
              <td id="Nombre1"></td>
              <td id="Miligramo1" ></td>
              <td id="Precio1"></td>
              <td id="Cantidad1"><input type="hidden" id="cantidadP1" value="0"></td>
              <td id="Subtotal1"></td>
              <td id="eliminar1"></td>
            </tr>
        </tbody>
      </div>
      <tbody><td>Total</td><td id="Total">0</td></tbody>
      </form>
    </table>
  </div>

    <e id="BotonCancelar"><a style="margin-left:0px; margin-top: 0px;" class="btn btn-secondary btn-lg" >Cancelar y Nuevo</a></e>
    <e id="BotonCancelar2"><a style="margin-left: 50px; margin-top: 0px;" class="btn btn-secondary btn-lg" >Cancelar y Salir</a></e>
    <e  id="BotonTerminar"><a style="margin-left: 50px; margin-top: 0px;" class="btn btn-secondary btn-lg">Terminar y Nuevo</a></e>
    <e  id="BotonTerminar2"><a style="margin-left: 50px; margin-top: 0px;" class="btn btn-secondary btn-lg">Terminar y Salir</a></e>
    <e ><a style="margin-left: 50px; margin-top: 0px;" class="btn btn-primary estilo btn-lg" href="../Venta/Dias">Ver Ventas</a></e>
  </div>
  {%include 'Layout/Validacion.html' %}
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

  <script>
    let allowUnload = false;
    let cont=1
    let c="'";
    $("#codigoP"+cont).focus();
    document.getElementById('productos').addEventListener('submit', function(event){
      event.preventDefault();//prevenir el comportamiento predeterminado del formulario
      let cantidad =document.getElementById('cantidadP'+cont).value;
      if (cantidad==0){
        let codigo=document.getElementById('codigoP'+cont).value;
        let crearventa = document.getElementById('Primer_registo').value;
        let usuario= document.getElementById('cedula').value;
        let url ="/Producto/API/"+codigo
        fetch(url)
        .then(data=>data.json())
        .then(data=> {
            if (data.length==0){
              Swal.fire({
                text: "¡No existe un Producto con este codigo!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                showCancelButton:false,
                position: 'top',
                toast:true,
                timer:2800,
            });
            }else{    
            if (crearventa==1){
              let url="/Venta/API/crear/"+usuario
              fetch(url)
              .then(data=>data.json())
              .then(data=>{
                document.getElementById('ID_Venta').value=data.id_venta;
                document.getElementById('Primer_registo').value=0;
              })
            }
            if (data[0].estado<=0){
              Swal.fire({
                text: "¡El producto esta inactivo!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                showCancelButton:false,
                position: 'top',
                toast:true,
                timer:2800,
            });
              document.getElementById('codigoP'+cont).value="";
              $("#codigoP"+cont).focus()}
              
            else if (data[0].cantidad<=0){
              Swal.fire({
                text: "¡El producto no tiene existencias!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                showCancelButton:false,
                position: 'top',
                toast:true,
                timer:2800,
            });
              document.getElementById('codigoP'+cont).value="";
              $("#codigoP"+cont).focus()
            }else{
            document.getElementById('codigoPp'+cont).innerHTML=codigo
            document.getElementById('Nombre'+cont).innerHTML=data[0].Nombre
            document.getElementById('Miligramo'+cont).innerHTML=data[0].GramoLitro
            document.getElementById('Precio'+cont).innerHTML=data[0].precio
            document.getElementById('Cantidad'+cont).innerHTML='<input type="number" class="form-control" id="cantidadP'+cont+'" Min="1" Max="'+data[0].cantidad+'" required>'
            $("#cantidadP"+cont).focus()}
            }
        })
    }else{
      let posicion= document.getElementById('PosicionTabla'+cont).value;
      let codigo=document.getElementById('codigoPp'+cont).textContent;
      let url='/Venta/API/detalle/'+codigo+'/'+cantidad+''+posicion;
      fetch(url)
        .then(data=>data.json())
        .then(data=> {
          document.getElementById('Subtotal'+(cont-1)).innerHTML=data.Subtotal;
          totalA=parseInt(document.getElementById('Total').textContent);
          document.getElementById('Total').innerHTML=totalA+data.Subtotal;
        });
      document.getElementById('Cantidad'+cont).innerHTML=cantidad;
      ventaid=document.getElementById('ID_Venta').value;
      posicion=document.getElementById('PosicionTabla'+cont).value;
      document.getElementById('eliminar'+cont).innerHTML='<i class="fa fa-pencil-square-o fa-lg ms-4" aria-hidden="true" onclick="eliminar('+c+''+ventaid+''+c+','+c+''+posicion+''+c+')"></i>'
      document.getElementById('BotonCancelar').innerHTML='<a style="margin-left:50px; margin-top: 0px;" class="btn btn-danger btn-lg" onclick=Cancelar('+c+''+ventaid+''+c+')>Cancelar y Nuevo</a>'
      document.getElementById('BotonTerminar').innerHTML='<a style="margin-left:50px; margin-top: 0px;" class="btn btn-primary btn-lg" onclick=Terminar('+c+''+ventaid+''+c+')>Terminar y Nuevo</a>'
      document.getElementById('BotonCancelar2').innerHTML='<a style="margin-left:50px; margin-top: 0px;" class="btn btn-danger btn-lg" onclick=Cancelar2('+c+''+ventaid+''+c+')>Cancelar y Salir</a>'
      document.getElementById('BotonTerminar2').innerHTML='<a style="margin-left:50px; margin-top: 0px;" class="btn btn-primary btn-lg" onclick=Terminar2('+c+''+ventaid+''+c+')>Terminar y Salir</a>'
      cont=cont+1;
      $('#fila').append('\
      <tr id="'+cont+'">\
      <td id="codigoPp'+cont+'"><input type="number" class="form-control" id="codigoP'+cont+'" required>\
              <div class="invalid-feedback"><h6>Falta Codigo De Barras</h6></div></td>\
              <input type="hidden" id="PosicionTabla'+cont+'" value="'+cont+'">\
      <td id="Nombre'+cont+'"></td>\
      <td id="Miligramo'+cont+'" ></td>\
      <td id="Precio'+cont+'"></td>\
      <td id="Cantidad'+cont+'"><input type="hidden" id="cantidadP'+cont+'" value="0"></td>\
      <td id="Subtotal'+cont+'"></td>\
      <td id="eliminar'+cont+'"></td>\
      </tr>\
      ');
      $("#codigoP"+cont).focus();
    }})

    function eliminar(idventa,posicion){
      Swal.fire({
        text: "¿Desea Eliminar el producto de la venta?",
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: '<a class="link-offset-2 link-underline link-underline-opacity-0 link-light" onclick="eliminarC('+c+''+idventa+''+c+','+c+''+posicion+''+c+')" > Aceptar</a> ',
        cancelButtonText: "Cancelar",
        toast:true,
        position:'top',
      });
    }
    function eliminarC(idventa,posicion){
        let url="/Venta/API/eliminar/"+idventa+posicion;
        fetch(url)
        subtotal=parseInt(document.getElementById('Subtotal'+posicion).textContent);
        totalA=parseInt(document.getElementById('Total').textContent);
        document.getElementById('Total').innerHTML=totalA-subtotal;
        $('#'+posicion).remove()
        totalA=parseInt(document.getElementById('Total').textContent);
        if (totalA==0){
          document.getElementById('BotonCancelar').innerHTML='<a style="margin-left:0px; margin-top: 0px;" class="btn btn-secondary btn-lg" >Cancelar y nuevo</a>'
          document.getElementById('BotonTerminar').innerHTML='<a style="margin-left:50px; margin-top: 0px;" class="btn btn-secondary btn-lg">Terminar y nuevo</a>'
          document.getElementById('BotonCancelar2').innerHTML='<a style="margin-left:50px; margin-top: 0px;" class="btn btn-secondary btn-lg" >Cancelar y Salir</a>'
          document.getElementById('BotonTerminar2').innerHTML='<a style="margin-left:50px; margin-top: 0px;" class="btn btn-secondary btn-lg">Terminar y Salir</a>'
        }
    }
    function Cancelar(idventa){
      Swal.fire({
        text: "¿Eliminar la venta?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: '<a class="link-offset-2 link-underline link-underline-opacity-0 link-light" onclick="CancelarC('+c+''+idventa+''+c+')" > Aceptar</a> ',
        cancelButtonText: "Cancelar",
        toast:true,
        position:'top',
      }).then((result) => {
          if (result.isConfirmed) {
            allowUnload = true;
            CancelarC(idventa)
          }});
    }
    function Cancelar2(idventa){
      Swal.fire({
        text: "¿Eliminar la venta?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: '<a class="link-offset-2 link-underline link-underline-opacity-0 link-light" onclick="CancelarC2('+c+''+idventa+''+c+')" > Aceptar</a> ',
        cancelButtonText: "Cancelar",
        toast:true,
        position:'top',
      }).then((result) => {
          if (result.isConfirmed) {
            allowUnload = true;
            CancelarC2(idventa)
          }})
    }
    function CancelarC(idventa){
      let url="/Venta/API/Cancelar/"+idventa;
        fetch(url)
        location.reload('/Venta/registar')
    }
    function CancelarC2(idventa){
      let url="/Venta/API/Cancelar/"+idventa;
        fetch(url)
        location.href='../../';
    }
    function Terminar(idventa){
            totalA=parseInt(document.getElementById('Total').textContent);
            Swal.fire({
            title: "Terminar Venta",
            text:"Ingrese el pago recibido",
            input: "number",
            inputValidator: (pago) => {
            if (!pago || pago<totalA) {
              return "El dinero debe ser mayor a "+ totalA;
            }},
            showCancelButton: true,
            confirmButtonText: "Terminar",
            showLoaderOnConfirm: true,
            preConfirm: async (pago) => {
              let url="/Venta/Terminar/API/"+idventa+"/"+pago;
                fetch(url)
                .then(devolver=>devolver.json())
                .then(devolver=>{
                  return devolver.Devolver;
                })
          },
            allowOutsideClick: () => !Swal.isLoading()
          }).then((resultado) => {
            if (resultado.isConfirmed) {
              totalAA=resultado.value-totalA;
              Swal.fire({
                title: 'Total a devolver',
                text: `${totalAA} Devolver`,
                confirmButtonText: 'Aceptar',
                allowOutsideClick: false,
                allowEnterKey: true}).then((result) => {
          if (result.isConfirmed) {
            allowUnload = true;
            Redireccion();
          }})
              // location.reload("/Venta/registrar");
            }
          });
                  }
    function Terminar2(idventa){
            totalA=parseInt(document.getElementById('Total').textContent);
            Swal.fire({
            title: "Terminar Venta",
            text:"Ingrese el pago recibido",
            input: "number",
            inputAttributes: {
              autocapitalize: "off",
              Min:totalA,
            },
            showCancelButton: true,
            confirmButtonText: "Terminar",
            showLoaderOnConfirm: true,
            preConfirm: async (pago) => {
              let url="/Venta/Terminar/API/"+idventa+"/"+pago;
                fetch(url)
                .then(devolver=>devolver.json())
                .then(devolver=>{
                  console.log(devolver.Devolver)
                  return devolver.Devolver;
                })
          },
            allowOutsideClick: () => !Swal.isLoading()
          }).then((resultado) => {
            if (resultado.isConfirmed) {
              totalAA=resultado.value-totalA;
              Swal.fire({
                title: 'Total a devolver',
                text: `${totalAA} Devolver`,
                confirmButtonText: '<a class="link-offset-2 link-underline link-underline-opacity-0 link-light" onclick="Redireccion2()" > Aceptar</a> ',
                allowOutsideClick: false,
                allowEnterKey: false}).then((result) => {
          if (result.isConfirmed) {
            allowUnload = true;
            Redireccion2();
          }})
              // location.reload("/Venta/registrar");
            }
          });
                  }
    function Redireccion(){
      location.reload("/Venta/registrar");
    }
    function Redireccion2(){
      location.href="../../";
    }
    function evitarSalir(event) {
      var totalA = parseInt(document.getElementById('Total').textContent);
      if (totalA > 0) {
        event.preventDefault();
        event.returnValue = '';
        Swal.fire({
          title: 'Advertencia',
          text: 'Debes Terminar o Cancelar la Compra.',
          icon: 'warning',
          allowOutsideClick: false,
          confirmButtonText: 'Aceptar'
        })
      }
    }
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('a, button[type="submit"]').forEach(element => {
        element.addEventListener('click', evitarSalir);
      });
    });
  </script>
</body>