{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'Layout/ValidacionRol.html' %}   
    {%include "Layout/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseñocampoobligatorio.css' %}">
    <title>Lote actualizar</title>
</head>
<body>
    {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
        <div class="container-fluid">
            {%for p,pr in info%}
            <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Recibo de compra número {{p.0}}</a>
        </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav>
          {%endfor%}
<div class="container">
    <br>
    <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
        <br><p class="text-center fst-italic text-body fs-2">Editar lote</p>
        {%for p,pr in info%}
        <h1 class="text-center fst-italic text-body fs-3 mb-4">Compra asociada al proveedor {{pr.0}}, con NIT: {{p.3}} </h1>
        {%endfor%}
        {%if repetido%}
        <form class="row g-3 needs-validation" novalidate method='POST' id="form">
            {% csrf_token %}
            <div class="col-6">
                <i class="fa fa-barcode fa-lg" aria-hidden="true"></i>
                <label class="form-label">Código del lote</label>
                <input type="text" class="form-control" name="Lote" id="codigo" required value="{{codigoO}}">
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Falta código del lote</h6></div>
                <e id="mensaje"></e>
                {%if not loteR%}
                <div class="alert alert-danger" role="alert">el Lote "{{codigor}}" ya esta registrado. Por favor corrobore la información</div>{%endif%}
            </div>
                <div class="col-6">
                    <i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i>
                    <label class="form-label">Cantidad</label>  
                    <input type='number' min="1" class="form-control" name='Cantidad' required value="{{cantidad}}">
                    <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                    <div class="invalid-feedback"><h6>Ingrese cantidad del lote</h6></div>
                    <br>
            </div>
            <div class="col-4">
                <i class="fa fa-usd fa-lg" aria-hidden="true"></i>
                <label class="form-label">Precio de compra</label>
                <input type="number" class="form-control" name='PrecioC' required value="{{precioC}}">
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Ingrese el precio de compra</h6></div>
                    <br>
                </div>
            
            <div class="col-4">
                <i class="fa fa-money fa-lg" aria-hidden="true"></i>
                <label for="">Porcentaje ganancia</label> 
                <input type='number' class="form-control" name='PrecioV' required value="{{precioV}}">
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Ingrese el precio de venta</h6></div>
                </div>
                
            <div class="col-4">
                <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                <label for="">Fecha de vencimiento</label> 
                <input type='date' min="{{fecha}}" class="form-control" name='FechaVenci' required value="{{fechaVenci}}">
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Ingrese la fecha de vencimiento</h6></div>
                {%if loteR%}
                <div class="alert alert-danger" role="alert">el Lote "{{codigor}}" ya esta registrado. Por favor corrobore la fecha de vencimiento</div>
                {%endif%}
                <br><br>
                </div>
        
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type='submit' values='Subir' class="btn btn-primary" type="button">
                {% for p,pr in info %}
                <a href="/Compra/Lista/{{p.0}}" class="btn btn-outline-danger" type="button">Cancelar</a>
                {%endfor%}
        </form>
    {%else%}
      <form class="row g-3 needs-validation" novalidate method='POST' id="form">
        {%for p in lote%}
            {% csrf_token %}
            <div class="col-6">
                <i class="fa fa-barcode fa-lg" aria-hidden="true"></i>
                <label class="form-label">Código del lote</label>
                <input type="text" class="form-control" name="Lote" id="codigo" required value="{{p.1}}">
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite código del lote</h6></div>
                <e id="mensaje"></e>
            </div>
            <div class="col-6">
                <i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i>
                <label class="form-label">Cantidad</label>
                <input type="number" min="1" class="form-control" name="Cantidad" required value="{{p.2}}">
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite la cantidad</h6></div>
            </div>
            <div class="col-4">
                <i class="fa fa-usd fa-lg" aria-hidden="true"></i>
                <label class="form-label">Precio compra</label>
                <input type="number" class="form-control" name="PrecioC" required value="{{p.3}}">
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite precio de compra</h6></div>
            </div>
            <div class="col-4">
                <i class="fa fa-money fa-lg" aria-hidden="true"></i>
                <label class="form-label">Porcentaje de ganancia</label>
                <input type="number" class="form-control" name="PrecioV" required value="{{p.4}}">
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite porcentaje de venta</h6></div>
            </div>
            <div class="col-4">
                <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                <label class="form-label">Fecha de vencimiento</label>
                <input type="date" min="{{fecha}}" class="form-control" name="FechaVenci" required value="{{p.6|date:'Y-m-d'}}">
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite fecha de vencimiento</h6></div>
            </div>
            
            {%endfor%}

            <div class="d-grid gap-2 col-6 mx-auto">
                <input type='submit' values='Subir' class="btn btn-primary" type="button" >
                {%for p,pr in info%}
                <a href="/Compra/Lista/{{p.0}}" class="btn btn-outline-danger mb-5" type="button">Cancelar</a>
                {%endfor%}
            </div>
            
        </form>{%endif%}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {%include 'Layout/Validacion.html' %}
    <script src="{%static 'js/jquery-3.7.1.min.js'%}"></script>
    <script>
        document.getElementById("form").addEventListener('submit',function(even){
            even.preventDefault();
            codigo=document.getElementById('codigo').value;
            splitC=codigo.split(' ');
            if (splitC[0]==''){
                document.getElementById('mensaje').innerHTML='<div class="alert alert-danger" role="alert" >No puede Iniciar con espacio</div>';
            }else{
                document.getElementById('mensaje').innerHTML='';
                even.currentTarget.submit();
            }
        })
    </script>
</body>
</html>