{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'Layout/ValidacionRol.html' %}   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseño.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'rel='stylesheet'>
    <title>Lote insertar</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Recibo de Compra<br><br> <h1 class="position-absolute start-50 top-10 translate-middle">Agregar Lote</h1></a>
        </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav>
{%include 'Layout/Validacion.html' %}
{%include 'Layout/Menu.html' %}
<div class="container">
    <br>
    <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
        {%for p in info%}
        <br><center><h1>Compra N#{{p.0}} del Proveedor: {{p.4}} NIT: {{p.3}}</h1></center>
        {%endfor%}
        <br>
        {%for p in CP%}
        <br><center><h2>Insertando Lote en el Producto N#{{p.0}}  {{p.1}}</h2></center>
        {%endfor%}
      <form class="row g-3 needs-validation" novalidate method='POST'>
            {% csrf_token %}
            <div class="col-6">
                <i class="material-icons prefix">queue_play_next</i>
                <label class="form-label">Codigo lote</label>
                <input type="text" class="form-control" name="Lote" required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite La Cantidad</h6></div>
            </div>
            <div class="col-6">
                <i class="material-icons prefix">queue_play_next</i>
                <label class="form-label">Cantidad</label>
                <input type="text" class="form-control" name="Cantidad" required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite La Cantidad</h6></div>
            </div>
            <div class="col-4">
                <i class="material-icons prefix">attach_money</i>
                <label class="form-label">Precio Compra</label>
                <input type="text" class="form-control" name="PrecioC" required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Precio De Compra</h6></div>
            </div>
            <div class="col-4">
                <i class="material-icons prefix">attach_money</i>
                <label class="form-label">Precio Venta</label>
                <input type="text" class="form-control" name="PrecioV" required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Precio De Venta</h6></div>
            </div>
            <div class="col-4">
                <i class="material-icons prefix">today</i>
                <label class="form-label">Fecha De Vencimiento</label>
                <input type="date" class="form-control" name="FechaVenci" required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Fecha De Vencimiento</h6></div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type='submit' values='Subir' class="btn btn-primary" type="button" >
                <a href="/Compra/Producto/{{RC}}" class="btn btn-outline-danger" type="button">Cancelar</a>
            </div>
           
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>