{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'Layout/ValidacionRol.html' %}   
    {%include "Layout/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseñocampoobligatorio.css' %}">
    <title>Lote insertar</title>
</head>
<body>
    {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Recibo de Compra</a>
        </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav>
{%include 'Layout/Validacion.html' %}
<div class="container">
    <br><br>
    <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
        <br>
        {%for p,pr in info%}
        <h3 class="text-center fst-italic text-body fs-3 mb-4">Compra N#{{p.0}}  Asociada al Proveedor {{pr.0}} Con NIT: {{p.3}} </h3>
        <p class="text-center fst-italic text-body fs-3">Agregar Lote</p>
        {%endfor%}
        {%if repetido%}
        <form class="row g-3 needs-validation" novalidate method='POST'>
            {% csrf_token %}
            <div class="col-6">
                <i class="fa fa-barcode fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Codigo del lote</label>
                <input type="text" class="form-control" name="Lote" required value="{{codigor}}">
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite el lote</h6></div>
                {%if not loteR%}
                <div class="alert alert-danger" role="alert">el Lote "{{codigor}}" ya esta registrado. Por favor corrobore la información</div>{%endif%}
            </div>
            <div class="col-6">
                <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Cantidad</label>
                <input type="number" min="1" class="form-control" name="Cantidad" required value="{{cantidad}}">
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite La Cantidad</h6></div>
            </div>
            <div class="col-4">
                <i class="fa fa-usd fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Precio de compra</label>
                <input type="text" class="form-control" name="PrecioC" required value="{{precioC}}">
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite precio de compra</h6></div>
            </div>
            <div class="col-4">
                <i class="fa fa-usd fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Porcentaje de ganancia</label>
                <input type="text" class="form-control" name="PrecioV" required value="{{precioV}}">
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite el porcentaje</h6></div>
            </div>
            <div class="col-4">
                <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                <label class="form-label">Fecha De Vencimiento</label>
                <input type="date" min="{{fecha}}" class="form-control" name="FechaVenci" required value="{{fechaVenci}}">
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Fecha De Vencimiento</h6></div>
                {%if loteR%}
                <div class="alert alert-danger" role="alert">el Lote "{{codigor}}" ya esta registrado. Por favor corrobore la fecha de vencimiento</div>
                {%endif%}
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type='submit' values='Subir' class="btn btn-primary" type="button" >
                <a href="/Compra/Producto/{{RC}}" class="btn btn-outline-danger" type="button">Cancelar</a>
            </div>
        </form>
        {%else%}
      <form class="row g-3 needs-validation" novalidate method='POST'>
            {% csrf_token %}
            <div class="col-6">
                <i class="fa fa-barcode fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Codigo del lote</label>
                <input type="text" class="form-control" name="Lote" required>
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite el lote</h6></div>
            </div>
            <div class="col-6">
                <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Cantidad</label>
                <input type="number" min="1" class="form-control" name="Cantidad" required>
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite la cantidad</h6></div>
            </div>
            <div class="col-4">
                <i class="fa fa-usd fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Precio de compra</label>
                <input type="text" class="form-control" name="PrecioC" required>
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite precio de compra</h6></div>
            </div>
            <div class="col-4">
                <i class="fa fa-usd fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Porcentaje de ganancia</label>
                <input type="text" class="form-control" name="PrecioV" required>
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite el porcentaje</h6></div>
            </div>
            <div class="col-4">
                <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                <label class="form-label">Fecha de vencimiento</label>
                <input type="date" min="{{fecha}}" class="form-control mb-4" name="FechaVenci" required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Fecha De Vencimiento</h6></div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type='submit' values='Subir' class="btn btn-primary" type="button" >
                <a href="/Compra/Producto/{{RC}}" class="btn btn-outline-danger mb-5" type="button">Cancelar</a>
            </div>
           
        </form>{%endif%}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {%include 'Layout/Validacion.html' %}
</body>
</html>