{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'Layout/ValidacionRol.html' %}   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseño.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseñocampoobligatorio.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'rel='stylesheet'>
    <title>Crear/Selecionar Producto</title>
</head>
<body>
    {%include 'layout/Menu.html'%}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
        <div class="container-fluid">
            {%for p,pr in info%}
            <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Recibo de compra número {{p.0}}</a>
        </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav>
          {%endfor%}
    <div class="container">
      <br><br>
      <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
       <br><p class="text-center fst-italic text-body fs-2">Registrar nuevo producto</p>
        {%for p,pr in info%}
        <h1 class="text-center fst-italic text-body fs-3 mb-5">Compra asociada al proveedor {{pr.0}} con NIT: {{p.3}} </h1>
        {%endfor%}
        {%if repetido%}
              <form class="row g-3 needs-validation" novalidate method='POST'>
                  {% csrf_token %}
                  <div class="col-6">
                    <i class="fa fa-barcode fa-lg" aria-hidden="true"></i>
                      <label class="form-label is-required">Código de barras</label>
                      <input type="number" class="form-control" name="codigo" required value="{{codigo}}">
                      <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                      <div class="invalid-feedback"><h6>Falta código de barras</h6></div><br>
                      <div class="alert alert-danger" role="alert">el codigo de barras "{{codigo}}" ya esta registrado como el producto "{{nombrep}}"</div>
                  </div>
                      <div class="col-6">
                        <i class="fa fa-product-hunt fa-lg" aria-hidden="true"></i>
                          <label class="form-label is-required">Nombre del producto</label>  
                          <input type='text' class="form-control" name='nombre' required value="{{nombre}}">
                          <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                          <div class="invalid-feedback"><h6>Ingrese nombre del producto</h6></div>
                          <br>
                  </div>
                  <div class="col-4">
                    <i class="fa fa-bitbucket fa-lg" aria-hidden="true"></i>
                      <label class="form-label is-required">Gramo/Litro</label>
                      <input type="text" class="form-control" name='gramo_litro' required value="{{gramo_litro}}">
                      <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                      <div class="invalid-feedback"><h6>Ingrese Gramo/Litro</h6></div>
                          <br>
                      </div>
                  
                  <div class="col-4">
                    <i class="fa fa-hand-o-up fa-lg" aria-hidden="true"></i>
                      <label class="form-label is-required">Cantidad máxima</label> 
                      <input type='number' class="form-control" name='Max' required value="{{Max}}">
                      <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                      <div class="invalid-feedback"><h6>Ingrese cantidad máxima</h6></div>
                      </div>
                  <div class="col-4">
                    <i class="fa fa-hand-o-down fa-lg" aria-hidden="true"></i>
                      <label class="form-label is-required">Cantidad mínima</label> 
                      <input type='number' class="form-control" name='Min' required value="{{Min}}">
                      <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                      <div class="invalid-feedback"><h6>Ingrese canatidad mínima</h6></div>
                    </div>
                    <div class="col-12 form-check text-center">
                        <label for="" class="">Producto de poca rotación</label>br
                      <input type="checkbox" style="position:absolute; height: 25px; width: 25px; border-color: black ;" class="form-check-input" name="rotacion" {%if rotacion == 'on' %}checked{%endif%}><br>
                    </div>
                  <div class="d-grid gap-2 col-6 mx-auto">
                      <input type='submit' values='Subir' class="btn btn-primary" type="button">
                      <a href="/Compra/Producto/{{RC}}" type="button" class="btn btn-outline-danger">Cancelar</a>
              </form>
          {%else%}
        <form class="row g-3 needs-validation" novalidate method='POST'>
            {% csrf_token %}
            <div class="col-6">
                <i class="fa fa-barcode fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Código de Barras</label>
                <input type="text" class="form-control" name="codigo" required>
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Falta código de barras</h6></div>
            </div>
                <div class="col-6">
                    <i class="fa fa-product-hunt fa-lg" aria-hidden="true"></i>
                    <label class="form-label is-required">Nombre del producto</label>  
                    <input type='text' class="form-control" name='nombre' required>
                    <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                    <div class="invalid-feedback"><h6>Ingrese nombre del producto</h6></div>
                    <br>
            </div>
            <div class="col-4">
                <i class="fa fa-bitbucket fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Gramo/Litro</label>
                <input type="text" class="form-control" name='gramo_litro' required>
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Ingrese Gramo/Litro</h6></div>
                    <br>
                </div>
            
            <div class="col-4">
                <i class="fa fa-hand-o-up fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Cantidad máxima</label> 
                <input type='number' class="form-control" name='Max' required>
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Ingrese cantidad máxima</h6></div>
                </div>
            <div class="col-4">
                <i class="fa fa-hand-o-down fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Cantidad mínima</label> 
                <input type='number' class="form-control mb-4" name='Min' required>
                <div class="valid-feedback"><h6>Campo validado con éxito</h6></div>
                <div class="invalid-feedback"><h6>Ingrese cantidad mínima</h6></div>
            </div>
            <div class="col-12 form-check text-center">
                <label for="" class="">Producto de poca rotación</label><br>
              <input type="checkbox" style="position:absolute; height: 25px; width: 25px; border-color: black ;" class="form-check-input" name="rotacion"><br>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type='submit' values='Subir' class="btn btn-primary" type="button">
                <a href="/Compra/Producto/{{RC}}" type="button" class="btn btn-outline-danger mb-5">Cancelar</a>
            </div>
        </form>
        {%endif%}
          </div><br><br>
        </section>
    </div>   
    {%include 'Layout/Validacion.html' %}
</body>
</div>
</html>