{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    {%include 'Layout/ValidacionRol.html' %}
    {%include "Layout/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/colorbotones.css' %}">
    <title>Seleccionar Producto</title>
</head>

<body>
    {%include 'layout/Menu.html'%}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
        <div class="container-fluid">
            {%for p,pr in info%}
            <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Recibo de compra número {{p.0}}</a>
        </div>
        <ul class="right hide-on-med-and-down">
        </ul>
    </nav>
    {%endfor%}
    <div class="container"><br><br>
        <div
            style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
            <br>
            {%for p,pr in info%}
            <h1 class="text-center fst-italic text-body fs-3 mb-4">Compra asociada al proveedor {{pr.0}}, con
                NIT: {{p.3}} </h1>
            {%endfor%}
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="/Compra/CProducto/{{RC}}" class="btn btn-primary estilo mb-2" type="button">Registrar y seleccionar nuevo producto</a>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="/Compra/Lista/{{RC}}" type="button" class="btn btn-outline-danger mb-2">Cancelar</a>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <form class="d-flex" method="POST" action="">
                    {% csrf_token %}
                    {% if busqueda %}
                    <a href="/Compra/Producto/{{RC}}" class="btn"><i class="fa fa-history fa-lg" aria-hidden="true"></i></a>
                    {% endif %}
                    <input class="form-control me-2" required type="text"
                        placeholder="Buscar por código o nombre del producto" name="qp" {%if busqueda%}value="{{qp}}"
                        {%endif%}>
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div><br>
            <p class="text-center fst-italic text-body fs-3">Seleccionar producto</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in PROD%}
                    <tr>
                        <td>{{p.0}}</td>
                        <td>{{p.1}}</td>
                        <td>
                            <a href="/Compra/lote/{{RC}}/{{p.0}}"><i class="fa fa-thumb-tack ms-4"
                                    aria-hidden="true"></i></a>
                        </td>
                        {%endfor%}
                    </tr>
                </tbody>
            </table><br>
        </div><br><br><br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>