{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'Layout/ValidacionRol.html' %}   
    {%include "Layout/head.html" %}
    <title>Selecionar Proveedores</title>
</head>
<body>
    {%include 'layout/Menu.html'%}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Recibo de compra</a>
        </div>
        <ul class="right hide-on-med-and-down">
        </ul>
    </nav>
    <br><br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="CProveedor" class="btn btn-primary" type="button">Registrar y seleccionar nuevo proveedor</a>
        <form class="d-flex" method="POST" action="">
            {% csrf_token %}
            {%if busqueda%}
            <a href="/Compra/SProveedor2" class="btn"><i class="fa fa-history fa-lg" aria-hidden="true"></i></a>
            {%endif%}
            <input class="form-control me-2" required type="text" placeholder="Buscar por NIT o Nombre del proveedor" name="NP" {%if busqueda%}value="{{NP}}"{%endif%}>
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        </div>
    <div class="container"><br><br>
        <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
            <br><p class="text-center fst-italic text-body fs-2">Selección de proveedor</p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>NIT</th>
                            <th>Nombre</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                <tbody>
                    {% for p in PROV%}
                    <tr>
                        <td>{{p.0}}</td>
                        <td>{{p.1}}</td>
                        <td> 
                            <a href="/Compra/create/{{p.0}}"><i class="fa fa-thumb-tack fa-lg ms-4" aria-hidden="true"></i></a>
                        </td>
                    {%endfor%}
                    </tr>
                </tbody>
            </table><br>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>