{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseño.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'rel='stylesheet'>
    <title>Menu</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
            <div class="container-fluid">
              <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Bienvenido a SIFHO</a>
            </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav>
          <br>
          {%include "Layout/Menu.html" %}
          <style>
            .btn-long {
              width: 300px; /* Ancho deseado */
              height: 100px; /* Altura deseada */
              margin: 5px;
              overflow: hidden;
            }
          </style>
</head>
<body>
{%if group == 'Admin'%}
<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col">
      <a href="/Proveedor/lista" class="btn btn-info btn-long "><br><img src="{%static 'img/proveedor.png'%}" alt="profileImg" height="50px" width="50">Número De Proveedores</a>
      <span class="mx-2"></span>
      <a href="/Pedidos/lista" class="btn btn-danger btn-long"><br><img src="{%static 'img/porrealizar.png'%}" alt="profileImg" height="50px" width="50">Pedidos Por Realizar</a>
      <span class="mx-2"></span>
      <a href="/Pedidos/listaC" class="btn btn-success btn-long"><br><img src="{%static 'img/realizados.png'%}" alt="profileImg" height="50px" width="50">Pedidos Realizados</a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <a href="/Producto/lista" class="btn btn-secondary btn-long "><br><img src="{%static 'img/numerop.png'%}" alt="profileImg" height="50px" width="50">Número De Productos</a>
      <span class="mx-2"></span>
      <a href="/Usuario/lista" class="btn btn-warning btn-long"><br><img src="{%static 'img/usuarios.png'%}" alt="profileImg" height="50px" width="50">Número De Usuarios</a>
      <span class="mx-2"></span>
      <a href="" class="btn btn-primary btn-long"><br><img src="{%static 'img/esta.png'%}" alt="profileImg" height="50px" width="50">Estadisticas</a>
    </div>
    
    </div>

  </div>
  {%else%}
  <center><h1>Bienvenido al sistema, eres REGENTE, solo puedes hacer ventas e ingresar pedidos especiales.</h1></center>
  {%endif%}
</div>
<br><br><br><br><br>
<hr>
<p class="text-secondary text-center"><small><small>Sebastian Quintero Correa - Jose Miguel Romero Castro - Samuel Montoya Montoya - Juan Pablo Guerra SENA - ADSO - N° Ficha 2697890 - Centro textil y de Gestion Industrial</small></small> </p></marquee>
</section>
</div>

<script>
  (() => {
'use strict'
const forms = document.querySelectorAll('.needs-validation')
Array.from(forms).forEach(form => {
form.addEventListener('submit', event => {
  if (!form.checkValidity()) {
    event.preventDefault()
    event.stopPropagation()
  }

  form.classList.add('was-validated')
}, false)
})
})()
  let arrow = document.querySelectorAll(".arrow");
for (var i = 0; i < arrow.length; i++) {
arrow[i].addEventListener("click", (e)=>{
let arrowParent = e.target.parentElement.parentElement;
arrowParent.classList.toggle("showMenu");
});
}

let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".bx-menu");
console.log(sidebarBtn);
sidebarBtn.addEventListener("click", ()=>{
sidebar.classList.toggle("close");
});
</script>
 
</body>
</div>
</html>
