{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  {%include "Layout/head.html" %}
  <title>Menu</title>
  <style>
    .botoni {
      width: 80px;
      height: 70px;
      border-radius: 20px; /* Esta línea crea la forma ovalada */
      position: absolute;
      top: -30px;
      left: calc(47% - 30px);
      ;
    }
  </style>
</head>

<body >
  {%include "Layout/Menu.html" %}

  
  <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
    <div class="container-fluid">
      <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Bienvenido a SIFHO</a>
    </div>
    <ul class="right hide-on-med-and-down">
    </ul>
  </nav>
  <br>
  {%if group == 'Admin'%}
  <br><br>
  <div class="row justify-content-center text-center">
    <div class="col-sm-4 mb-3 mb-sm-0 border-secondary">
      <div class="card" style="box-shadow: 0 0 30px #5b9af8;">
        <div class="card-body">
         <div class="botoni" style="box-shadow: 0 0 10px #0d6efd; background-color: #ffffff"><img src="{%static 'img/pro.png'%}"  height="65px" width="65"></div>
          <a href="/Proveedor/lista" style="text-decoration:none;"><h5 class="card-title text-black bg-white mb-1"><br><br>Listado de proveedores</h5>
          <p class="card-text text-black bg-white mb-1">Activos: {{proveedorA}}</p><p class="card-text text-black bg-white">Inactivos: {{proveedorI}}</p></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="box-shadow: 0 0 30px #5b9af8;">
        <div class="card-body">
          <div class="botoni" style="box-shadow: 0 0 10px #0d6efd; background-color: #ffffff"><img src="{%static 'img/realizar.png'%}"  height="65px" width="65"></div>
          <a href="/Pedidos/lista" style="text-decoration:none; "><h5 class="card-title text-black bg-white mb-1"><br><br>Listado de pedidos especiales</h5>
          <p class="card-text text-black bg-white mb-1">Pedidos por realizar: {{realizar}}</p><p class="card-text text-black bg-white mb-1">Pedidos realizados: {{realizado}}</p></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="box-shadow: 0 0 30px #5b9af8;">
        <div class="card-body">
          <div class="botoni" style="box-shadow: 0 0 10px #0d6efd; background-color: #ffffff"><img src="{%static 'img/concluidos.png'%}"  height="65px" width="65"></div>
          <a href="/Pedidos/listaC" style="text-decoration:none;"><h5 class="card-title text-black bg-white mb-2"><br><br>Listado de pedidos concluidos</h5>
          <p class="card-text text-black bg-white mb-4">Pedidos concluidos: {{concluido}}</p>
        </div>
      </div>
    </div><br><br><br><br>
  <div class="col-sm-4">
      <div class="card" style="box-shadow: 0 0 30px #5b9af8;">
        <div class="card-body">
          <div class="botoni" style="box-shadow: 0 0 10px #0d6efd; background-color: #ffffff"><img src="{%static 'img/proveedores.png'%}" height="65px" width="65"></div>
          <a href="/Producto/lista" style="text-decoration:none;"><h5 class="card-title text-black bg-white mb-1"><br><br>Listado de productos</h5>
          <p class="card-text text-black bg-white mb-1">Productos activos: {{productosA}}</p><p class="card-text text-black bg-white">Inactivos: {{productosI}}</p></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="box-shadow: 0 0 30px #5b9af8;">
        <div class="card-body">
          <div class="botoni" style="box-shadow: 0 0 10px #0d6efd; background-color: #ffffff"><img src="{%static 'img/usuarios.png'%}"  height="65px" width="65"></div>
          <a href="/Usuario/lista" style="text-decoration:none;"><h5 class="card-title text-black bg-white mb-1"><br><br>Ususarios</h5>
          <p class="card-text text-black bg-white mb-1">Usuarios activos: {{usuariosA}}</p><p class="card-text text-black bg-white">Usuarios activos: {{usuariosI}}</p></a>
        </div>
      </div>
    </div>
      <div class="col-sm-4">
        <div class="card" style="box-shadow: 0 0 30px #5b9af8;">
          <div class="card-body">
           <div class="botoni" style="box-shadow: 0 0 10px #0d6efd; background-color: #ffffff"><img src="{%static 'img/Carrito.png'%}"  height="65px" width="65"></div>
            <a href="/Venta/registrar" style="text-decoration:none;"><h5 class="card-title text-black bg-white mb-1"><br><br>Ventas</h5>
            <p class="card-text text-black bg-white mb-1">Ventas del dia: {{Ventas}}</p><p class="card-text text-black bg-white mb-1">Total del Dia: {%if Total != None %}{{Total}}{%else%}0{%endif%}</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%else%}
  <br><br>
  <div class="row justify-content-center text-center">
    <div class="col-sm-4 mb-3 mb-sm-0 border-secondary">
      <div class="card" style="box-shadow: 0 0 30px #000000;">
        <div class="card-body">
         <div class="botoni" style="box-shadow: 0 0 10px #000000; background-color: #ffffff"><img src="{%static 'img/Carrito.png'%}"  height="65px" width="65"></div>
          <a href="/Venta/registrar" style="text-decoration:none;"><h5 class="card-title text-black bg-white mb-1"><br><br>Ventas</h5>
          <p class="card-text text-black bg-white mb-1">Ventas del dia: {{Ventas}}</p><p class="card-text text-black bg-white mb-1">{%if Total == None %} Total del Dia: 0 {%else%}Total del Dia: {{Total}}{%endif%}</p></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="box-shadow: 0 0 30px #000000;">
        <div class="card-body">
          <div class="botoni" style="box-shadow: 0 0 10px #0d6efd; background-color: #ffffff"><img src="{%static 'img/realizar.png'%}"  height="65px" width="65"></div>
          <a href="/Pedidos/lista" style="text-decoration:none; "><h5 class="card-title text-black bg-white mb-1"><br><br>Listado de pedidos especiales</h5>
          <p class="card-text text-black bg-white mb-1">Pedidos por realizar: {{realizar}}</p><p class="card-text text-black bg-white mb-1">Pedidos realizados: {{realizado}}</p></a>
        </div>
      </div>
    </div>
  {%endif%}
  </div>
  <br><br>
  <hr>
  <p class="text-secondary text-center"><small><small>Sebastian Quintero Correa - Jose Miguel Romero Castro - Juan Pablo Guerra SENA - ADSO - N° Ficha 2697890 - Centro textil y de Gestion
        Industrial</small></small></p>
  <p class="text-secondary"><small><small><small><small>Derechos reservados de imagenes: href="https://www.flaticon.com/free-icons/supplier" title="supplier icons">Supplier icons created by Eucalyp - Flaticon / href="https://www.flaticon.com/free-icons/list" title="list icons">List icons created by Icongeek26 - Flaticon / href="https://www.flaticon.com/free-icons/checklist" title="checklist icons">Checklist icons created by Freepik - Flaticon / href="https://www.flaticon.com/free-icons/procurement" title="procurement icons">Procurement icons created by Uniconlabs - Flaticon / href="https://www.flaticon.com/free-icons/staff" title="staff icons">Staff icons created by Uniconlabs - Flaticon</small></small></small></small></p>
  </marquee>
  </section>
  </div>

  <script>
    (() => {
      'use strict'
      const forms = document.querySelectorAll('.needs-validation')
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
      arrow[i].addEventListener("click", (e) => {
        let arrowParent = e.target.parentElement.parentElement;
        arrowParent.classList.toggle("showMenu");
      });
    }

    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    });
  </script>
  
  {%if group != 'Admin'%}
  <script>
Swal.fire({
        text:"¡Eres REHENTE, solo puedes hacer ventas e ingresar pedidos especiales!",
        
        icon: "info",
        showCancelButton: false,
        toast:false,
        position:'center',
        width:'40%',
        padding:'2rem',
        timer:5000,
        timerProgressBar:true,
        showConfirmButton: false,  // Oculta el botón de confirmación
        showCancelButton: false  // Oculta el botón de cancelar
      });
  </script>
  {%endif%}
</body>
</div>

</html>