{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'Layout/ValidacionRol.html' %}   
    {%include "Layout/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseñocampoobligatorio.css' %}">
    <title>Actualizar Proveedor</title>
</head>
<body>
    {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
            <div class="container-fluid">
              <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Actualizar Proveedor</a>
            </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav>
    
    <div class="container">
        <br><br>
        {%if repetido%}
    <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
        <br><br>
        <form class="row g-3 needs-validation" novalidate method='POST' id="form">
              {% csrf_token %}
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                    <i class="fa fa-credit-card fa-lg" aria-hidden="true"></i>
                    <label class="form-label is-required">NIT del proveedor</label>
                    <input type="number" max="99999999999" min="1" name='nit' class="form-control" required value="{{nit}}">
                    <div class="alert alert-danger" role="alert">el NIT "{{nitE}}" ya esta registrado como el Proveedor "{{nombrepr}}". Por favor ingrese otro</div>
                    <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                    <div class="invalid-feedback"><h6>Digite NIT Del Proveedor</h6></div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                  <i class="fa fa-address-book fa-lg" aria-hidden="true"></i>
                  <label class="form-label is-required">Nombre del proveedor</label>
                  <input type='text' maxlength="30" class="form-control" name='nombre' id="nombre" required value="{{nombre}}">
                  <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                  <div class="invalid-feedback"><h6>Digite Nombre Del Proveedor</h6></div>
                  <e id="mensaje"></e>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                  <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                  <label class="form-label is-required">Teléfono</label>
                  <input type="number" max="9999999999" min="1000000000" class="form-control" name="telefono" required value="{{telefono}}">
                  <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                  <div class="invalid-feedback"><h6>Digite Teléfono Del Proveedor</h6></div>
                  </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                <i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Política de devolución</label>
                <input type="number" max="13" min="1" class="form-control" name='politica_devolucion' rows="3" required value="{{politica}}" placeholder="Meses antes de vencer el medicamento">
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite PolÍtica De Devolución</h6></div>
              </div>
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12 p-4 col-12">
              <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
              <label class="form-label is-required">Horario de atención</label>
              <textarea type='text' maxlength="250" class="form-control" name='horario_atencion' id="Hora" required>{{horario}}</textarea>
              <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
              <div class="invalid-feedback"><h6>Digite Horario De Atención Del Proveedor</h6></div>
              <e id="mensaje2"></e>
            </div>
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                  <input type='submit' values='Subir' class="btn btn-primary" type="button">
                  <a href="/Proveedor/lista" type="button" class="btn btn-outline-danger">Cancelar</a>
              </div>
              </form><br>
            </div>
    {%else%}
        {% for p in datos %}
        <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
          <br><br>
          <form class="row g-3 needs-validation" novalidate method='POST' id="form">
            {% csrf_token %}              
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                <i class="fa fa-credit-card fa-lg" aria-hidden="true"></i>
                    <label class="form-label is-required">NIt</label>
                    <input type="number" max="99999999999" min="1" class="form-control" name='nit' required value="{{p.0}}">
                    <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                    <div class="invalid-feedback"><h6>Digite NIT Del Proveedor</h6></div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                    <i class="fa fa-address-book fa-lg" aria-hidden="true"></i>
                    <label class="form-label is-required">Nombre</label>
                    <input type='text' maxlength="30" class="form-control" name='nombre' id="nombre" required value="{{p.1}}">
                    <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                    <div class="invalid-feedback"><h6>Digite Nombre Del Proveedor</h6></div>
                    <e id="mensaje"></e>
                </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Teléfono</label>
                <input type="number" max="9999999999" min="1000000000" class="form-control" name="telefono" required value="{{p.3}}"><br>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Teléfono Del Proveedor</h6></div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                    <i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
                    <label class="form-label is-required">Política de devolución</label>
                    <input type='number' max="13" min="1" class="form-control" name='politica_devolucion' required value="{{p.5}}" placeholder="Meses antes de vencer el medicamento">
                    <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                    <div class="invalid-feedback"><h6>Digite PolÍtica De Devolución</h6></div>
                    </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12 p-4 col-12">
                    <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Horario de atención</label>
                <textarea type='text' maxlength="250" class="form-control" name='horario_atencion' id="Hora" required>{{p.4}}</textarea><br>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Horario De Atención Del Proveedor</h6></div>
                <e id="mensaje2"></e>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <input type='submit' values='Subir' class="btn btn-primary" type="button">
                    <a href="/Proveedor/lista" type="button" class="btn btn-outline-danger">Cancelar</a><br>
                </div>
            </div>
            {%endfor%}
        </form>
      </div><br><br>
      {%endif%}
    </section>  
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {%include 'Layout/Validacion.html' %}
    <script src="{%static 'js/jquery-3.7.1.min.js'%}"></script>
    <script>
      document.getElementById("form").addEventListener('submit',function(even){
        even.preventDefault();
        nombre=document.getElementById("nombre").value;
        hora=document.getElementById("Hora").value;
        letras=nombre.split(' ');
        letrasH=hora.split(' ');
        if ( letrasH[0]=='' || letras[0]==''){
          if(letras[0]==''){
            console.log("espacio en nombre")
            document.getElementById("mensaje").innerHTML='<div class="alert alert-danger" role="alert" >No puede Iniciar con espacio</div>'
          }else{
            document.getElementById("mensaje").innerHTML='';
          }
          if(letrasH[0]==''){
            console.log("espacio en horario")
            document.getElementById("mensaje2").innerHTML='<div class="alert alert-danger" role="alert" >No puede Iniciar con espacio</div>'
          }else{
            document.getElementById("mensaje2").innerHTML='';
          }
        }else{
          document.getElementById("mensaje").innerHTML='';
          document.getElementById("mensaje2").innerHTML='';
          console.log("normal");
          even.currentTarget.submit();
        }
      })
    </script>
</body>
</html>