{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'Layout/ValidacionRol.html' %}   
    {%include "Layout/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseñocampoobligatorio.css' %}">
    <title>Insertar Proveedores</title>
</head>
<body>
    {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
            <div class="container-fluid">
              <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Insertar Proveedor</a>
            </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav>
    <div class="container">
    <br><br>
    {%if repetido%}
    <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
        <br><br>
        <form class="row g-3 needs-validation" novalidate method='POST'>
              {% csrf_token %}
              <div class="col-6">
                <i class="fa fa-credit-card fa-lg" aria-hidden="true"></i>
                    <label class="form-label is-required">NIT Del Proveedor</label>
                    <input type="number" name='nit' class="form-control" required value="{{nit}}">
                    <div class="alert alert-danger" role="alert">el NIT "{{nit}}" ya esta registrado como el Proveedor "{{nombrepr}}"</div>
                    <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                    <div class="invalid-feedback"><h6>Digite NIT Del Proveedor</h6></div>
              </div>
              <div class="col-6">
                <i class="fa fa-address-book fa-lg" aria-hidden="true"></i>
                  <label class="form-label is-required">Nombre Del Proveedor</label>
                  <input type='text' class="form-control" name='nombre' required value="{{nombre}}">
                  <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                  <div class="invalid-feedback"><h6>Digite Nombre Del Proveedor</h6></div>
              </div>
              <div class="col-6">
                <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                  <label class="form-label is-required">Teléfono</label>
                  <input type="number" max="9999999999" min="1000000000" class="form-control" name="telefono" required value="{{telefono}}">
                  <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                  <div class="invalid-feedback"><h6>Digite Teléfono Del Proveedor</h6></div>
                  </div>
              <div class="col-6">
                <i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
                  <label class="form-label">Política de Devolución</label>
                  <input type="number" max="13" min="1" class="form-control" name='politica_devolucion' required value="{{politica}}" placeholder="Meses antes de vencer el medicamento">
                  <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                  <div class="invalid-feedback"><h6>Digite PolÍtica De Devolución</h6></div>
                </div>
              <div class="col-12">
                <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
                <label class="form-label">Horario de Atención</label>
                <textarea type='text' class="form-control" name='horario_atencion' required>{{horario}}</textarea>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Horario De Atención Del Proveedor</h6></div>
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                  <input type='submit' values='Subir' class="btn btn-primary" type="button">
                  <a href="/Proveedor/lista" type="button" class="btn btn-outline-danger">Cancelar</a>
              </div>
              </form><br>
            </div>
    {%else%}
    <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
      <br><br>
      <form class="row g-3 needs-validation" novalidate method='POST'>
            {% csrf_token %}
            <div class="col-6">
                <i class="fa fa-credit-card fa-lg" aria-hidden="true"></i>
                    <label class="form-label is-required">NIT Del Proveedor</label>
                    <input type="number" name='nit' class="form-control" required>
                    <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                    <div class="invalid-feedback"><h6>Digite NIT Del Proveedor</h6></div>
            </div>
            <div class="col-6">
                <i class="fa fa-address-book fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Nombre Del Proveedor</label>
                <input type='text' class="form-control" name='nombre' required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Nombre Del Proveedor</h6></div>
            </div>
            <div class="col-6">
                <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Teléfono</label>
                <input type="number" max="9999999999" min="1000000000" class="form-control" name="telefono" required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Teléfono Del Proveedor</h6></div>
                </div>
            <div class="col-6">
                <i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
                <label class="form-label">Política de Devolución</label>
                <input type="number" max="13" min="1" class="form-control" name='politica_devolucion' rows="3" required placeholder="Meses antes de vencer el medicamento">
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite PolÍtica De Devolución</h6></div>    
            </div>
            <div class="col-12">
              <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
              <label class="form-label">Horario de Atención</label>
              <textarea type='text' class="form-control" name='horario_atencion' required ></textarea>
              <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
              <div class="invalid-feedback"><h6>Digite Horario De Atención Del Proveedor</h6></div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type='submit' values='Subir' class="btn btn-primary" type="button">
                <a href="/Proveedor/lista" type="button" class="btn btn-outline-danger">Cancelar</a>
            </div>
            </form><br>
          </div>
          {%endif%}
        </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {%include 'Layout/Validacion.html' %}
</body>
</html>