{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/Proyecto/public/css/misestilos.css">
    <title>Document</title>
</head>
<body>

    <style>
        .landing-image {
            background-image: url('/Proyecto/public/img/farmacia.jpg') !important;
            background-size: cover !important;
        }
        </style>

    <nav>
        <div class="nav-wrapper  blue">
            <a href="#" class="brand-logo center">Ingreso de Proveedor</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/menu"><i class="material-icons">home</i></a></li>
            <li><a href="#"><i class="material-icons">view_module</i></a></li>
            <li><a href="#"><i class="material-icons">refresh</i></a></li>
            <li><a href="#"><i class="material-icons">more_vert</i></a></li>
          </ul>
        </div>
      </nav>

      

    <div class="container">
        <br><br>
        <form method='POST'>
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">money</i>
                    <label>NIT</label> <input type="text" name='nit' required>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">add_shopping_cart</i>
                    <label>Nombre</label> <input type='text' name='nombre' required>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">monetization_on</i>
                    <label>Telefono</label> <input type="number" name="telefono" required><br>
                </div>
                <div class="input-field col s4">
                    <i class="material-icons prefix">monetization_on</i>
                    <label>Categoria de Productos</label> <input type="text" name="categoria_productos" required ><br>
                </div>
                <div class="input-field col s4">
                    <i class="material-icons prefix">invert_colors</i>
                    <label>Horario de Atencion</label>  <input type='text' name='horario_atencion' required ><br>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">add_to_queue</i>
                        <label>Politica de Devolucion</label><input type='text' name='politica_devolucion' required >
                    </div>
                
            </div>
            <div class="center">
                <input type='submit' values='Subir' class="btn waves-effect waves-light"><br><br><br><br><br>
            </div>
            
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>