{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    {%include 'Layout/ValidacionRol.html' %}
    {%include "Layout/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/colorbotones.css' %}">
    <title>Listado De Proveedores</title>
</head>

<body>
    {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Proveedores</a>
        </div>
        <ul class="right hide-on-med-and-down">
        </ul>
    </nav>
    <br><br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="insert" class="btn btn-primary estilo" type="button">Ingresar nuevo proveedor</a>
        <form class="d-flex" method="POST" action="">
            {% csrf_token %}
            {%if busqueda%}
            <a href="/Proveedor/lista" class="btn"><i class="fa fa-history fa-lg" aria-hidden="true"></i></a>
            {%endif%}
            <input class="form-control me-2" required type="text" placeholder="Buscar por NIT o Nombre del proveedor" name="NP" {%if busqueda%}value="{{NP}}"{%endif%}>
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
    </nav>
    <br>
    <div class="container">
        <br>
        <div class="table-responsive" style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
            <br>
            {%if activos%}
            <table class="table table-hover">
                <p class="text-center fst-italic text-body fs-4">Listado de proveedores activos</p>
                <thead>
                    <tr>
                        <th>NIT</th>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Horario de atención</th>
                        <th>Política de devolución</th>
                        <th>Estado</th>
                        <th>Editar proveedor</th>
                    </tr>
                </thead>
                {%else%}
                {%if busqueda%}<p class="fs-5 p-3 fw-semibold fst-italic">No hay ningun proveedor con ese NIT/Nombre</p><hr style="border: 1px solid #000; width: 100%;">{%else%}
                <p class="fs-5 p-3 fw-semibold fst-italic">No hay ningun proveedor activo</p>{%endif%}
                {%endif%}
                <tbody>
                    {% for p in proveedorA%}
                    <tr>
                        <td>{{p.0}}</td>
                        <td>{{p.1}}</td>
                        <td>{{p.3}}</td>
                        <td>{{p.4}}</td>
                        <td>{{p.5}} Meses antes de vencer</td>
                        <td><a href="#"><i onclick="proveedorEstadoA('{{p.0}}','{{p.1}}')">Activo</i></a></td>
                        <td>
                            <a href="/Proveedor/actualizar/{{p.0}}"><i class="fa fa-pencil-square-o fa-lg ms-5"
                                    aria-hidden="true"></i></a>
                        </td>
                        {%endfor%}
                    </tr>
                </tbody>
            </table>
            {%if inactivos%}
            <table class="table table-hover">
                <p class="text-center fst-italic text-body fs-4">Listado de proveedores inactivos</p>
                <thead>
                    <tr>
                        <th>NIT</th>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Horario de atención</th>
                        <th>Política de devolución</th>
                        <th>Estado</th>
                        <th>Editar Proveedor</th>
                    </tr>
                </thead>
                {%else%}
                {%if busqueda%}<p class="fs-5 p-3 fw-semibold fst-italic">No hay ningun proveedor con ese NIT/Nombre</p>{%else%}
                <p class="fs-5 p-3 fw-semibold fst-italic">No hay ningun proveedor inactivo</p>{%endif%}
                {%endif%}
                <tbody>
                    {% for p in proveedorI%}
                    <tr>
                        <td>{{p.0}}</td>
                        <td>{{p.1}}</td>
                        <td>{{p.3}}</td>
                        <td>{{p.4}}</td>
                        <td>{{p.5}} Meses antes de vencer</td>
                        <td><a href="#"><i onclick="proveedorEstadoI('{{p.0}}','{{p.1}}')">Inactivo</i></a></td>
                        <td>
                            <a href="/Proveedor/actualizar/{{p.0}}"><i class="fa fa-pencil-square-o fa-lg ms-5"
                                    aria-hidden="true"></i></a>
                        </td>
                        {%endfor%}
                    </tr>
                </tbody>
            </table><br>
        </div><br><br><br>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </div>
    <script>
        function proveedorEstadoA(id, name) {
            Swal.fire({
        text: "¿Desea que el proveedor " + name + " sea inactivado ?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: '<a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="/Proveedor/EI/'+id+' " > Aceptar</a> ',
        cancelButtonText: "No, cancelar",
        toast:true,
        position:'top',
      });
    }
        function proveedorEstadoI(id, name) {
            Swal.fire({
        text: "¿Desea que el proveedor " + name + " sea activado?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: '<a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="/Proveedor/EA/'+id+' " > Aceptar</a> ',
        cancelButtonText: "No, cancelar",
        toast:true,
        position:'top',
      });
    }
    </script>


</body>

</html>