{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/Proyecto/public/css/misestilos.css">
</head>
<body>

    <nav>
        <div class="nav-wrapper  blue">
            <a href="#" class="brand-logo center">Listado de Proveedores</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/menu"><i class="material-icons">home</i></a></li>
            <li><a href="#!"><i class="material-icons">view_module</i></a></li>
            <li><a href="#!"><i class="material-icons">refresh</i></a></li>
            <li><a href="#!"><i class="material-icons">more_vert</i></a></li>
          </ul>
        </div>
      </nav>
      
      <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img class="materialboxed" width="650" src="{%static 'img/farmacia.jpg'%}">
          </div>
          <a href="#user"><img class="circle" src="{%static 'img/logo.png'%}"></a>
          <a href="#name"><span class="black-text name">John Doe</span></a>
          <a href="#email"><span class="black-text email">jdandturk@gmail.com</span></a>
        </div></li>
        <li><a href="/menu"><i class="material-icons">home</i>Página Principal</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Productos</a></li>
        <li><a class="waves-effect" href="/Producto/insert">Insertar Productos</a></li>
        <li><a class="waves-effect" href="/Producto/lista">Mostrar Productos</a></li>
        <li><a class="waves-effect" href="/Producto/stock">Aumentar Productos</a></li>
        <li><a class="subheader">Proveedores</a></li>
        <li><a class="waves-effect" href="/Proveedor/insert">Insertar Proveedores</a></li>
        <li><a class="light-blue lighten-5" href="#!">Mostrar Proveedores</a></li>
      </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    
        <br>
        <div class="container">
            {%if activos%}
            <table class="centered">
                <thead>
                    <tr>
                        <th>NIT</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Telefono</th>
                        <th>Categoria de Productos</th>
                        <th>Horario de Atencion</th>
                        <th>Politica de Devolucion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                {%else%}
                <p>No hay ningun proveedor activo</p>
                {%endif%}
                <tbody>
                    {% for p in proveedorA%}
                    <tr>
                        <td>{{p.0}}</td>
                        <td>{{p.1}}</td>
                        <td><a href="#"><i onclick="proveedorEstadoA('{{p.0}}','{{p.1}}')">Activo</i></a></td>
                        <td>{{p.3}}</td>
                        <td>{{p.4}}</td>
                        <td>{{p.5}}</td>
                        <td>{{p.6}}</td>
                        <td> 
                            <a href="/Proveedor/actualizar/{{p.0}}"><i class="material-icons prefix ">border_color</i></a>

                        </td>
                    {%endfor%}
                    </tr>
                </tbody>
            </table>
            {%if inactivos%}
            <table class="centered">
                <thead>
                    <tr>
                        <th>NIT</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Telefono</th>
                        <th>Categoria de Productos</th>
                        <th>Horario de Atencion</th>
                        <th>Politica de Devolucion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                {%else%}
                <p>No hay ningun proveedor inactivo</p>
                {%endif%}
                <tbody>
                    {% for p in proveedorI%}
                    <tr>
                        <td>{{p.0}}</td>
                        <td>{{p.1}}</td>
                        <td><a href="#"><i onclick="proveedorEstadoI('{{p.0}}','{{p.1}}')">Inactivo</i></a></td>
                        <td>{{p.3}}</td>
                        <td>{{p.4}}</td>
                        <td>{{p.5}}</td>
                        <td>{{p.6}}</td>
                        <td> 
                            <a href="/Proveedor/actualizar/{{p.0}}"><i class="material-icons prefix">border_color</i></a>
                        </td>
                    {%endfor%}
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
        <div class="center">
        <a href="insert" class="waves-effect waves-light btn-small light-blue lighten-1">Ingresar Proveedor</a>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </div>
   <script>
    function proveedorEstadoA(id,name){
        respuesta=confirm("Desea cambiar el estado del Proveedor "+name+" ?");
        if (respuesta){
            location.href="/Proveedor/EI/"+id;
        }
    }
    function proveedorEstadoI(id,name){
        respuesta=confirm("Desea cambiar el estado del Proveedor "+name+" ?");
        if (respuesta){
            location.href="/Proveedor/EA/"+id;
        }
    }
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
</script>
    

</body>
</html>