{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  {%include "Layout/head.html" %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/diseñocampoobligatorio.css' %}">
    <title>Insertar Pedido Especial</title>
</head>
<body>
  {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
            <div class="container-fluid">
              <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Insertar Pedido Especial</a>
            </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav>    
    <div class="container">
        <br><br>
        <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
        <br><br>
        <form class="row g-3 needs-validation" novalidate method='POST'>
            {% csrf_token %}
            
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Nombre del cliente</label> 
                <input type='text' class="form-control" name='nombreClie' required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Nombre Del Cliente</h6></div>
                </div>

            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                <label class="form-label is-required">Celular del Cliente</label>
                <input type="number" max="9999999999" min="1000000000" class="form-control" name="celularClie" required>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Celular Del Cliente.Deben ser 10 numeros</h6></div>
                </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                  <i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i>
                  <label class="form-label is-required">Cantidad</label>
                  <input type="number" max="99" min="1" class="form-control" name="cantidad" required>
                  <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                  <div class="invalid-feedback"><h6>Digite La Cantidad</h6></div>
                  </div>

                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                <label for="descripcion is-required" class="form-label is-required">Nombre/Descripción del medicamento</label>
                <textarea type="text" class="form-control" name="descripcion" rows="3" required></textarea>
                <div class="valid-feedback"><h6>Campo Validado Con Éxito</h6></div>
                <div class="invalid-feedback"><h6>Digite Una Descripción</h6></div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type='submit' values='Subir' class="btn btn-primary" type="button">Enviar</button>
                <a href="/Pedidos/lista" type="button" class="btn btn-outline-danger">Cancelar</a>
            </div>
        </form><br><br>
      </div>
    </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {%include 'Layout/Validacion.html' %}    
</body>
</html>