{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseño.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'rel='stylesheet'>
    <title>Lista Pedido Especial</title>
</head>
<body>
    {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg sidevar close " style="background-color: #0d6efd;" data-bs-theme="green">
            <div class="container-fluid">
              <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Pedidos especiales</a>
            </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav><br>
{%include 'Layout/Validacion.html'%}
<br>
<div class="d-grid gap-2 col-6 mx-auto">
        <a href="insert" class="btn btn-primary" type="button">Ingresar nuevo pedido especial</a>
        <a href="listaC" class="btn btn-primary" type="button">Lista de pedidos concluidos</a>
        <form class="d-flex" method="POST" action="">
            {% csrf_token %}
            {% if busqueda %}
            <a href="/Pedidos/lista" class="btn"><i class="fa fa-history fa-lg" aria-hidden="true"></i></a>
            {% endif %}
            <input class="form-control me-2" required type="text" placeholder="Buscar por Nombre/Descripcion del medicamento"  name="NM"{%if busqueda%}value="{{NM}}"{%endif%}>
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        </div>
        
        <br>
        <div class="container">
            <br>
        <div style="background-color:#97daee36 ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
        <br>
            {%if activos%}
            <table class="table table-hover mb-4">
                <p class="text-center fst-italic text-body fs-4">Listado de pedidos por pedir</p>
                <thead>
                    <tr>
                        <th>Cédula del cajero</th>
                        <th>Nombre del cajero</th>
                        <th>Nombre del cliente</th>
                        <th>Celular del cliente</th>
                        <th>Nombre/Descripción del medicamento</th>
                        <th>Cantidad</th>
                        <th>Fecha de creación</th>
                        <th>Fecha de modificación</th>
                        <th>Estado</th>
                        <th>Editar pedido</th>
                    </tr>
                </thead>
                {%else%}
                {%if busqueda%}<p class="fs-5 p-3 fw-semibold fst-italic">No hay ningun pedido por pedir con el nombre o descripción de ese producto</p><hr style="border: 1px solid #000; width: 100%;">{%else%}
                <p class="fs-5 p-3 fw-semibold fst-italic">No hay ningun pedido por pedir</p>{%endif%}
                {%endif%}
                <tbody>
                    {% for p in pedidosA%}
                    <tr>
                        <td>{{p.1}}</td>
                        <td>{{p.9}}</td>
                        <td>{{p.2}}</td>
                        <td>{{p.3}}</td>
                        <td>{{p.4}}</td>
                        <td>{{p.7}}</td>
                        <td>{{p.6}}</td>
                        <td>{{p.8}}</td>
                        <td>Pedido por pedir <a href="#"><i class="fa fa-calendar-plus-o fa-lg" aria-hidden="true" onclick="estadoA('{{p.0}}','{{p.2}}')"></i></a></td>
                        <td><a href="/Pedidos/actualizar/{{p.0}}"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a></td>
                    {%endfor%}
                    </tr>
                </tbody>
            </table>

            {%if inactivos%}
            <table class="table table-hover mb-4">
                <p class="text-center fst-italic text-body fs-4">Listado de pedidos realizados</p>
                <thead>
                    <tr>
                        <th>Cédula del cajero</th>
                        <th>Nombre del cajero</th>
                        <th>Nombre del cliente</th>
                        <th>Celular del cliente</th>
                        <th>Nombre/Descripción del medicamento</th>
                        <th>Cantidad</th>
                        <th>Fecha de creación</th>
                        <th>Fecha de Modificación</th>
                        <th>Editar pedido</th>
                        <th>Editar pedido</th>
                    </tr>
                </thead>
                {%else%}{%if busqueda%}<p class="fs-5 p-3 fw-semibold fst-italic">No hay ningun pedido realizado con el nombre o descripción de ese producto</p>{%else%}
                <p class="fs-5 p-3 fw-semibold fst-italic">No hay ningun pedido realizado</p>{%endif%}
                {%endif%}
                <tbody>
                    {% for p in pedidosI%}
                    <tr>
                        <td>{{p.1}}</td>
                        <td>{{p.9}}</td>
                        <td>{{p.2}}</td>
                        <td>{{p.3}}</td>
                        <td>{{p.4}}</td>
                        <td>{{p.7}}</td>
                        <td>{{p.6}}</td>
                        <td>{{p.8}}</td>
                        <td>Pedido Realizado<a  href="#"><i class="fa fa-undo fa-lg ms-2" aria-hidden="true" onclick="estadoI('{{p.0}}','{{p.2}}')"></i></a><a href="#"> <i class="fa fa-check fa-lg" aria-hidden="true" onclick="estadoC('{{p.0}}','{{p.2}}')"></i></a></td>
                        <td><a href="/Pedidos/actualizar/{{p.0}}"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a></td>
                    {%endfor%}
                    </tr>
                </tbody>
            </table><br>
          </div><br><br><br>
        </section> 
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function estadoA(id,name){
        Swal.fire({
        text: "¿Desea que el pedido del señor(a) "+name+" este en pedido realizado?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: '<a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="/Pedidos/EI/'+id+' " > Aceptar</a> ',
        cancelButtonText: "No, cancelar",
        toast:true,
        position:'top',
      });
    }
        
    function estadoI(id,name){
        Swal.fire({
        text: "¿Desea que el pedido del señor(a) "+name+" este en pedido por pedir?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: '<a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="/Pedidos/EA/'+id+' " > Aceptar</a> ',
        cancelButtonText: "No, cancelar",
        toast:true,
        position:'top',
      });
    }
    
    function estadoC(id,name){
        Swal.fire({
        text: "¿Desea que el pedido del señor(a) "+name+" este en pedidos concluidos?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: '<a class="link-offset-2 link-underline link-underline-opacity-0 link-light" href="/Pedidos/EC/'+id+' " > Aceptar</a> ',
        cancelButtonText: "No, cancelar",
        toast:true,
        position:'top',
      });
    }
</script>
</body>
</html>