{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseño.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'rel='stylesheet'>
    <title>Lista Pedido Especial Terminados</title>
</head>
<body>
  {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
            <div class="container-fluid">
              <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Lista Pedidos Especiales Concluidos</a>
            </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav>
          <br>
<div class="d-grid gap-2 col-6 mx-auto">
        <a href="lista" class="btn btn-primary" type="button">Lista de Pedidos Por Pedir Y Realizados</a>
        <form class="d-flex" method="POST" action="">
          {% csrf_token %}
          {% if busqueda %}
          <h1>hola</h1>
          {% endif %}
          <input class="form-control me-2" required type="text" placeholder="Ingrese el celular del cliente"  name="qp">
          <button class="btn btn-outline-primary" type="submit">Buscar</button>
      </form>
        </div>
        <br>
        <div class="container">
        <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
        <br><br>
            {%if concluidos%}
            <table class="table table-hover">
                <thead>
                    <tr>
                      <th>Cedula del cajero</th>
                        <th>Nombre del cajero</th>
                        <th>Nombre del cliente</th>
                        <th>Estado</th>
                        <th>Celular del cliente</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Fecha de creacion</th>
                        <th>Fecha de Modificacion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                {%else%}
                <p>No hay ningun pedido concluido</p>
                {%endif%}
                <tbody>
                    {% for p in pedidosC%}
                    <tr>
                      <td>{{p.1}}</td>
                      <td>{{p.9}}</td>
                      <td>{{p.2}}</td>
                        <td>Pedido Concluido <a href="#"><i class="fa fa-window-close fa-lg" aria-hidden="true" onclick="estadoC('{{p.0}}','{{p.2}}')"></i></a></td>
                        <td>{{p.3}}</td>
                        <td>{{p.4}}</td>
                        <td>{{p.7}}</td>
                        <td>{{p.6}}</td>
                        <td>{{p.8}}</td>
                        <td><a href="/Pedidos/actualizar/{{p.0}}"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a></td>
                    {%endfor%}
                    </tr>
                </tbody>
            </table>

            
        </div>
        <br><br>
        
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    function estadoC(id,name){
      respuesta=confirm("Desea que el estado del pedido del señor@ "+name+" este en pedido realizado?");
      if (respuesta){
        location.href="/Pedidos/ER/"+id;
        }
    }

    
</script>
</body>
</html>