{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/Proyecto/public/css/misestilos.css">
    <title>Document</title>
</head>
<body>

    <nav>
        <div class="nav-wrapper  blue">
            <a href="#" class="brand-logo center">Insertar un Producto</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/menu"><i class="material-icons">home</i></a></li>
            <li><a href="#!"><i class="material-icons">view_module</i></a></li>
            <li><a href="#!"><i class="material-icons">refresh</i></a></li>
            <li><a href="#!"><i class="material-icons">more_vert</i></a></li>
            </ul>
        </div>
    </nav>

      <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img class="materialboxed" width="650" src="{%static 'img/farmacia.jpg'%}">
          </div>
          <a href="#user"><img class="circle" src="{%static 'img/logo.png'%}"></a>
          <a href="#name"><span class="black-text name">John Doe</span></a>
          <a href="#email"><span class="black-text email">jdandturk@gmail.com</span></a>
        </div></li>
        <li><a href="/menu"><i class="material-icons">home</i>Página Principal</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Productos</a></li>
        <li><a class="waves-effect light-blue lighten-5" href="#!">Insertar Productos</a></li>
        <li><a class="waves-effect" href="/Producto/lista">Mostrar Productos</a></li>
        <li><a class="waves-effect" href="/Producto/stock">Aumentar Productos</a></li>
        <li><a class="subheader">Proveedores</a></li>
        <li><a class="waves-effect" href="/Proveedor/insert">Insertar Proveedores</a></li>
        <li><a class="waves-effect" href="/Proveedor/lista">Mostrar Proveedores</a></li>
      </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      

    <div class="container">
        <br>
        <form method='POST'>
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">money</i>
                    <label>Codigo de barras</label><input type="text" name='codigo' required class="validate">
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">add_shopping_cart</i>
                    <label>Nombre del Producto</label>  <input type='text' name='nombre' required class="validate">
                </div>
            </div>

            
            <div class="row">
                <div class="input-field col s6">
                    <label for="">ESTADO</label>
                    <select name="estado" >
                        <option value="0">Activo</option>
                        <option value="1">Inactivo</option>
                    </select>  
                </div>
            </div>

            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">monetization_on</i>
                    <label>Precio de Compra</label> <input type="number" name="precioC" required class="validate">
                </div>
                <div class="input-field col s4">
                    <i class="material-icons prefix">monetization_on</i>
                    <label>Precio de Venta</label> <input type="number" name="precioT" required class="validate">
                </div>
                <div class="input-field col s4">
                    <i class="material-icons prefix">invert_colors</i>
                    <label>Gramo/Litro</label>  <input type='text' name='gramo_litro' required class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">add_to_queue</i>
                    <label>Cantidad</label> <br> <input type='number' name='cantidad' required class="validate">
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">today</i>
                    <label>Vencimiento</label><br><input type='date' name='vencimiento' required class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">border_color</i>
                    <label>Lote</label><input type='text' name='lote' required class="validate">
                </div>
                <div class="input-field col s4">
                    <i class="material-icons prefix">add_circle_outline</i>
                    <label for="">Cantidad Maxima</label> <input type='number' name='Max' required class="validate">
                </div>
                <div class="input-field col s4">
                    <i class="material-icons prefix">remove_circle_outline</i>
                    <label for="">Cantidad Minima</label> <input type='number' name='Min' required class="validate">
                </div>
            </div>
            <div class="center">
                <input type='submit' values='Subir' class="btn waves-effect waves-light  light-blue lighten-1">
            </div>
            
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
    </script>
</body>
</html>