{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'Layout/ValidacionRol.html' %}   
    {%include "Layout/head.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/diseñocampoobligatorio.css' %}">
    <title>Insertar Producto</title>
</head>
<body>
    {%include 'Layout/Menu.html' %}
    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
            <div class="container-fluid">
              <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Insertar Producto</a>
            </div>
            <ul class="right hide-on-med-and-down">
            </ul>
          </nav><br>
          {%if repetido%}
          <div class="container">
            <br>
            <div style="background-color:rgba(151, 152, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
              <br><br>
              <form class="row g-3 needs-validation" novalidate method='POST'>
                  {% csrf_token %}
                  <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                    <i class="fa fa-barcode" aria-hidden="true"></i>
                      <label class="form-label is-required">Código de Barras</label>
                      <input type="number" maxlength="20" class="form-control" name="codigo" required value="{{codigo}}">
                      <div class="valid-feedback"><h6>Campo Validado Con Exito</h6></div>
                      <div class="invalid-feedback"><h6>Falta Codigo De Barras</h6></div><br>
                      <div class="alert alert-danger" role="alert">el codigo de Barras "{{codigo}}" ya esta registrado como el producto "{{nombrep}}"</div>
                  </div>
                      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                        <i class="fa fa-product-hunt" aria-hidden="true"></i>
                          <label class="form-label is-required">Nombre del Producto</label>  
                          <input type='text' maxlength="30" class="form-control" name='nombre' required value="{{nombre}}">
                          <div class="valid-feedback"><h6>Campo Validado Con Exito</h6></div>
                          <div class="invalid-feedback"><h6>Ingrese Nombre Del Producto</h6></div>
                          <br>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12 col-4">
                    <i class="fa fa-bitbucket" aria-hidden="true"></i>
                      <label class="form-label is-required">Miligramo/ML</label>
                      <input type="text" maxlength="10" class="form-control" name='gramo_litro' required value="{{gramo_litro}}">
                      <div class="valid-feedback"><h6>Campo Validado Con éxito</h6></div>
                      <div class="invalid-feedback"><h6>Ingrese Gramo/Litro</h6></div>
                          <br>
                      </div>
                  
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12 col-4">
                    <i class="fa fa-hand-o-up" aria-hidden="true"></i>
                      <label class="form-label is-required">Cantidad Máxima</label> 
                      <input type='number' max="999999999" min="1" class="form-control" name='Max' required value="{{Max}}">
                      <div class="valid-feedback"><h6>Campo Validado Con éxito</h6></div>
                      <div class="invalid-feedback"><h6>Ingrese Cantidad Máxima</h6></div>
                      </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12 col-4">
                    <i class="fa fa-hand-o-down" aria-hidden="true"></i>
                      <label class="form-label is-required">Cantidad Mínima</label> 
                      <input type='number' max="999999999" min="1" class="form-control" name='Min' required value="{{Min}}">
                      <div class="valid-feedback"><h6>Campo Validado Con Exito</h6></div>
                      <div class="invalid-feedback"><h6>Ingrese Cantidad Minima</h6></div>
                      <br><br>
                    </div>
                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12 p-4 col-12 form-check text-center">
                      <label class="form-label is-required">Producto de poca rotación</label><br>
                      <input type="checkbox" style="position:absolute; height: 25px; width: 25px; border-color: black ;" class="form-check-input" name="rotacion" {%if rotacion == 'on' %}checked{%endif%}><br>
                    </div><br>
                  <div class="d-grid gap-2 col-6 mx-auto">
                      <input type='submit' values='Subir' class="btn btn-primary" type="button">
                      <a href="/Producto/lista" type="button" class="btn btn-outline-danger">Cancelar</a>
              </form><br><br>
                </div>
              </section>
          </div>
          {%else%}
    <div class="container">
      <br>
      <div style="background-color:rgba(151, 218, 238, 0.212) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
        <br><br>
        <form class="row g-3 needs-validation" novalidate method='POST'>
            {% csrf_token %}
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                <i class="fa fa-barcode" aria-hidden="true"></i>
                <label class="form-label is-required">Código de Barras</label>
                <input type="text" maxlength="20" class="form-control" name="codigo" required>
                <div class="valid-feedback"><h6>Campo Validado Con Exito</h6></div>
                <div class="invalid-feedback"><h6>Falta Código De Barras</h6></div>
            </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-12 p-4 col-6">
                    <i class="fa fa-product-huis-requirednt" aria-hidden="true"></i>
                    <label class="form-label is-required">Nombre del Producto</label>  
                    <input type='text' maxlength="30" class="form-control" name='nombre' required>
                    <div class="valid-feedback"><h6>Campo Validado Con Exito</h6></div>
                    <div class="invalid-feedback"><h6>Ingrese Nombre Del Producto</h6></div>
                    <br>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12 p-4 col-4">
                <i class="fa fa-bitbucket" aria-hidden="true"></i>
                <label class="form-label is-required">Miligramo/ML</label>
                <input type="text" maxlength="10" class="form-control" name='gramo_litro' required>
                <div class="valid-feedback"><h6>Campo Validado Con Exito</h6></div>
                <div class="invalid-feedback"><h6>Ingrese Gramo/Litro</h6></div>
                    <br>
                </div>
            
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12 p-4 col-4">
                <i class="fa fa-hand-o-up" aria-hidden="true"></i>
                <label class="form-label is-required">Cantidad máxima</label> 
                <input type='number' max="999999999" min="1" class="form-control" name='Max' required>
                <div class="valid-feedback"><h6>Campo Validado Con Exito</h6></div>
                <div class="invalid-feedback"><h6>Ingrese Cantidad Máxima</h6></div>
                </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-12 p-4 col-4">
                <i class="fa fa-hand-o-down" aria-hidden="true"></i>
                <label class="form-label is-required">Cantidad mínima</label> 
                <input type='number' max="999999999" min="1" class="form-control" name='Min' required>
                <div class="valid-feedback"><h6>Campo Validado Con Exito</h6></div>
                <div class="invalid-feedback"><h6>Ingrese Canatidad Mínima</h6></div> 
              </div>
              <div class="col-12 form-check text-center">
                <label for="" class="">Producto de poca rotación</label><br>
                <input type="checkbox" style="position:absolute; height: 25px; width: 25px; border-color: black ;" class="form-check-input" name="rotacion"><br>
              </div><br><br><br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type='submit' values='Subir' class="btn btn-primary" type="button">
                <a href="/Producto/lista" type="button" class="btn btn-outline-danger">Cancelar</a>
            </div></form><br><br>
          </div>
        </section>
    </div>
    {%endif%}

    
    {%include 'Layout/Validacion.html' %}
</body>
</div>
</html>