{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div class="bg-image" 
    style="background-image: url('{%static 'img/descarga.jfif'%}');
    width: auto; height: % auto;">

    <nav class="navbar navbar-expand-lg " style="background-color: #0d6efd;" data-bs-theme="green">
        <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" ><i class="material-icons prefix">dehaze</i></button>
            <div class="container-fluid">
              <a class="navbar-brand mx-auto text-white mb-2 h2 fs-2">Lista De Productos</a>
            </div>
          </nav>
          <br>

          <div class="offcanvas offcanvas-start text-bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <hr>
            <div class="offcanvas-body">
                <h5 class="text-decoration-underline text-white-50 bg-dark" id="offcanvasWithBothOptionsLabel">Productos</h5><br>
                <p><a href="/Producto/insert" class="link-light link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" >Insertar Productos</a></p>
                <p><a href="#" class="link-opacity-50 link-light link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover" >Mostrar Productos</a></p>
                <p><a href="/Producto/stock" class="link-light link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" >Aumentar Proveedores</a></p>
                <h5 class="text-decoration-underline text-white-50 bg-dark" id="offcanvasWithBothOptionsLabel">Proveedores</h5><br>
                <p><a href="/Proveedor/insert" class="link-light link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" >Insertar Proveedores</a></p>
                <p><a href="/Proveedor/lista" class="link-light link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" >Mostrar Proveedores</a></p>
                <p><a href="/Proveedor/actualizar" class="link-light link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" >Actualizar Proveedores</a></p>
            </div>
</div>

        <div class="container">
        <div style="background-color:rgb(226, 225, 225) ; border: 2px solid #fafafa10; margin: 0 auto; border-radius: 1rem; background: fafafa10; backdrop-filter:blur(0.4rem);">
        <br>
        {%if activos%}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Código </th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Gramo/Litro</th>
                        <th>Fecha Modificación</th>
                        <th>Cantidad Máxima</th>
                        <th>Cantidad Mínima</th>
                        <th>Unidades</th>
                        <th>Ver Lotes</th>
                        <th>Editar Producto</th>
                    </tr>
                </thead>
                {%else%}
                <p>No hay ningun producto activo</p>
                {%endif%}
                <tbody>
                    {% for p in productoA%}
                    <tr>
                        <td>{{p.0}}</td>
                        <td>{{p.1}}</td>
                        <td><a href="#"><i onclick="estadoA('{{p.0}}','{{p.1}}')">Activo</i></a></td>
                        <td>{{p.3}}</td>
                        <td>{{p.4}}</td>
                        <td>{{p.5}}</td>
                        <td>{{p.6}}</td>
                        <td>{{p.7}}</td>
                        <td><a href="/Producto/listal/{{p.0}}"><i class="material-icons prefix">border_color</i></a></td>
                        <td> 
                            <a href="/Producto/actualizar/{{p.0}}"><i class="material-icons prefix ">border_color</i></a>
                        </td>
                    {%endfor%}
                    </tr>
                </tbody>
            </table>
            {%if inactivos%}
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>Código </th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Gramo/Litro</th>
                        <th>Fecha Modificación</th>
                        <th>Cantidad Máxima</th>
                        <th>Cantidad Mínima</th>
                        <th>Unidades</th>
                        <th>Ver Lotes</th>
                        <th>Editar Producto</th>
                    </tr>
                </thead>
                {%else%}
                <p>No hay ningun producto inactivo</p>
                {%endif%}
                <tbody>
                    {% for p in productoI%}
                    <tr>
                        <td>{{p.0}}</td>
                        <td>{{p.1}}</td>
                        <td><a href="#"><i onclick="estadoI('{{p.0}}','{{p.1}}')">Inactivo</i></a></td>
                        <td>{{p.3}}</td>
                        <td>{{p.4}}</td>
                        <td>{{p.5}}</td>
                        <td>{{p.6}}</td>
                        <td>{{p.7}}</td>
                        <td><a href="/Producto/listal/{{p.0}}"><i class="material-icons prefix">border_color</i></a></td>
                        <td> 
                            <a href="/Producto/actualizar/{{p.0}}"><i class="material-icons prefix">border_color</i></a>
                        </td>
                    {%endfor%}
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="center">
        <a href="insert" class="waves-effect waves-light btn-small light-blue lighten-1">Regresar Ingreso de Productos</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
 (() => {
  'use strict'
  const forms = document.querySelectorAll('.needs-validation')
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
 })()
    </script>
    <script>
            function estadoI(id,nom){
        respuesta=confirm("Desea cambiar el estado del Producto "+nom+" ?");
        if (respuesta){
            location.href="/Producto/EI/"+id;
        }
    }
    function estadoA(id,nom){
        respuesta=confirm("Desea cambiar el estado del Producto "+nom+" ?");
        if (respuesta){
            location.href="/Producto/EA/"+id;
        }
    }
    </script>
</body>
</html>